@import 'vars.less';

html{
	body{
		background:url('../_imgs/layout/adulto/bg_adulto-home.png') left top;
		.transition;
		&.internas{
			background:url('../_imgs/layout/adulto/bg_home.png') left top;
			footer{
				display:block;
				height:42px;
				opacity:1;
			}
		}
		header{
			#banner-topo{
				height:0;
				.transition(height, .6s, ease-in-out);
				background:url('../_imgs/layout/adulto/bg_home.png');
				.centro{
					height:0;
					.transition(height, .6s, ease-in-out);
					background:url('../_imgs/layout/logo.png') center center no-repeat;
					position:relative;
					a{
						width:220px;
						height:0;
						margin-left:0;
						margin-top:0;
						display:block;
						text-indent: -9999px;
					}
				}
				nav{
					position:fixed;
					z-index:9999999999;
				}
			}
			&.header-home{
				#banner-topo{
					height:170px;
					.centro{
						height:170px;
						a{
							width:220px;
							height:130px;
							margin-left:380px;
							padding-top:20px;
							display:block;
							text-indent: -9999px;
						}
					}
				}
				nav{
					position:relative;	
				}
			}
			nav{
				width:100%;
				padding-top:10px;
				height:50px;
				text-align:center;
				background:url('../_imgs/layout/adulto/adulto_menu.png') transparent left top repeat-x;
				ul{
					li{
						.inline;
						margin:0 16px;
						height:35px;
						a{
							height:35px;
							line-height:35px;
							padding:0 10px;
							display:block;
							color:@vinho;
							.yanoneL(22px);
							.transition;
							&:active, &:visited{ color:@vinho; }
							&.ativo, &:hover{
								color:#fff;
								background:url('../_imgs/layout/adulto/adulto_bg-menu_hover.png') left top repeat-x;
							}
						}
					}
				}
			}
		}
		.main{
			position:relative;
			width:100%;
			.transition(all, .8s, ease-in-out);
			.centro{
				padding:25px 0 25px 0;
			}
			&.main-home{
				.centro{padding:45px 0 25px 0;}
				#banners{
					width:936px;
					display: block;
					margin:0 auto;
					position:relative;
					box-shadow: 0 0 8px #000000;
					-moz-box-shadow: 0 0 8px #000000;
					-webkit-box-shadow: 0 0 8px #000000;
					#animate{
						width:936px;
						min-height:355px;
						img{
							max-width:936px;
							display: block;
							margin:0 auto;
						}
					}
					.btn-Nav{
						width:35px;
						height:35px;
						top:50%;
						position:absolute;
						z-index:99999;
						margin-top:-17px;
						.offscreen;
						.transition;
						&#btn-Prev{
							left:35px;
							background:url('../_imgs/layout/adulto/adulto_seta-esq_off.png') center center no-repeat;
							&:hover{
								.transform(scale(1.2));
								background:url('../_imgs/layout/adulto/adulto_seta-esq_on.png') center center no-repeat;
							}
						}
						&#btn-Next{
							right:35px;
							background:url('../_imgs/layout/adulto/adulto_seta-dir_off.png') center center no-repeat;
							&:hover{
								.transform(scale(1.2));
								background:url('../_imgs/layout/adulto/adulto_seta-dir_on.png') center center no-repeat;
							}
						}
					}
				}
			}
			&.main-perfil{
				.centro{
					position:relative;
					#texto-1{
						padding-top:10px;
						h1{
							color:@bege;
							.yanoneL(37px);
							line-height:100%;
							margin-bottom:10px;
						}
						p{
							.verdana(12px);
							color:@bege;
							width:390px;
							line-height:160%;
						}
					}
					#texto-2{
						box-shadow: 0 0 8px #000000;
						-moz-box-shadow: 0 0 8px #000000;
						-webkit-box-shadow: 0 0 8px #000000;
						width:505px;
						min-height:330px;
						background-color:#e4d5c2;
						position:absolute;
						right:0;
						top:100px;
						font-size:0;
						.coluna{
							.inline;
							width:289px;
							padding:8px 4px 8px 12px;
							h1{
								.yanoneL(37px);
								color:@vinho;
								line-height:100%;
							}
							p{
								margin-top:10px;
								.verdana(12px);
								color:@vinho;
								line-height:160%;
							}
						}
						.imagem{
							.inline;
							width:200px;
						}
					}
				}
				.faixa-marrom{
					background-color:@marrom;
					.transition;
					.centro{
						padding:15px 0;
						p{
							.yanone(21px);
							color:@bege;
							width:410px;
							line-height:115%;
						}
					}
					&.apagado{
						background-color:@vinho;
					}
				}
			}
			&.main-projetos{
				font-size:0;
				#lateral{
					.inline;
					width:185px;
					padding:0 15px;
					margin-right:45px;
					ul{
						box-shadow: 0 0 4px #353535;
						-moz-box-shadow: 0 0 4px #353535;
						-webkit-box-shadow: 0 0 4px #353535;
						background-color:@marrom;
						padding:5px 0;
						li{
							margin-left:-15px;
							width:217px;
							height:43px;
							line-height:43px;
							a{
								display: block;
								width:217px;
								height:43px;
								line-height:43px;
								color:@bege;
								text-align:center;
								background:url('../_imgs/layout/infantil/infantil_projetos-transparencia.png') center center no-repeat;
								.yanoneL(22px);
								.transition;
								&:active, &:visited{color:@bege;}
								&.ativo, &:hover{
									background:url('../_imgs/layout/adulto/adulto_projetos-selecionado.png') center center no-repeat;
									color:@vinho;
								}
							}
						}
					}
					#thumbs{
						width:185px;
						height:320px;
						font-size:0;
						margin:7px auto 0 auto;
						#imagens{
							.inline;
							width:185px;
							height:285px;
							overflow:hidden;
							position:relative;
							.pagina{
								//background:url('../_imgs/layout/infantil/bg_infantil.png');
								width:185px;
								height:285px;
								a{
									.inline;
									width:88px;
									height:88px;
									text-decoration:none;
									margin-bottom:5px;
									&:hover, &.ativo{
										img{
											border:4px #5c2336 solid;
										}
									}
									img{
										.transition;
										border:4px #875964 solid;
									}
									&.marg{ margin-right:7px; }
								}
							}
						}
						#navegacao{
							height:35px;
							a{
								background-color:@bege;
								height:30px;
								display:none;
								line-height:25px;
								.yanone(22px);
								width:40px;
								text-align: center;
								text-decoration:none;
								color:@vinho;
								.transition;
								&:active, &:visited{color:@vinho; }
								&:hover{
									background-color:#53413d;
									color:#e4d5c2;
								}
								&#nav-Prev{
									float:left;
								}
								&#nav-Next{
									float:right;
								}
							}
						}
					}
				}
				#ampliada{
					.inline;
					width:720px;
					img{
						position:absolute;
						.transition(all, .6s, ease-in-out);
						opacity:0;
						max-width:700px;
						display: block;
						margin:0 auto;
						box-shadow: 0 0 8px #353535;
						-moz-box-shadow: 0 0 8px #353535;
						-webkit-box-shadow: 0 0 8px #353535;
						&:hover{
							cursor:pointer;
						}
					}
				}
			}
			&.main-midia{
				#midia-container{
					min-height:585px;
					#animate{
						.pagina-midia{
							width:980px;
							font-size:0;
							a{
								.inline;
								.transition;
								margin:0 20px 20px 0;
								width:167px;
								padding:4px 2px;
								background-color:#5f2234;
								&:hover{
									background-color:#835361;
								}
								img{
									max-width:163px;
									margin:0 auto;
									display:block;
									margin-bottom:5px;
								}
								h2{
									.verdana(12px, bold);
									color:@bege;
									display:block;
									text-align:center;
									line-height:110%;
								}
								.data{
									.verdana(12px);
									color:@bege;
									display:block;
									text-align:center;
									line-height:130%;
								}
								&.nomargin{ margin-right:0;}
							}
						}
					}
					#navegacao{
						height:35px;
						display:none;
						a{
							background-color:@bege;
							height:30px;
							line-height:25px;
							.yanone(22px);
							width:40px;
							text-align: center;
							text-decoration:none;
							color:@vinho;
							.transition;
							&:active, &:visited{color:@vinho; }
							&:hover{
								background-color:#53413d;
								color:#e4d5c2; 
							}
							&#nav-Prev{
								float:left;
							}
							&#nav-Next{
								float:right;
								margin-right:45px;
							}
						}
					}
				}
			}
			&.main-contato{
				min-height:500px !important;
				#contato{
					width:800px;
					margin:0 auto;
					padding:20px 0;
					.resposta{
						color:@bege;
						.yanone(30px);
						text-align:center;
						line-height:150%;
						display:none;
					}
					#form{
						font-size:0;
						height:202px;
						.coluna{
							.inline;
							width:400px;
							padding:4px 0;
							input[type="text"],
							input[type="email"]{							
								.verdana(13px);
								color:@bege;
								border:0;
								margin:0 0 5px 0;
								padding:10px;
								background-color:rgba(71, 6, 26, .7);
								width:365px;
							}
							textarea{
								.verdana(13px);
								color:@bege;
								border:0;
								margin:0 0 5px 0;
								padding:10px;
								background-color:rgba(71, 6, 26, .7);
								width:380px;
								resize:none;
								height:135px;	
							}
						}
						.large{
							height:33px;
							input[type="submit"]{
								float:right;
								height:30px;
								line-height:25px;
								border:0;
								width:90px;
								.yanoneL(22px);
								color:@vinho;
								text-align:center;
								background-color:@bege;
								.transition;
								&:hover{
									cursor:pointer;
									background-color:#53413d;
									color:#e4d5c2;
								}
							}
						}
					}
					#telefone{
						.californian(34px);
						color:@bege;
					}
					#email{
						a{
							.californian(25px);
							color:@bege;
							.transition;
							&:active, &:visited{color:@bege;}
							&:hover{
								color:#ffffff;
							}
						}
					}
					#facebook{
						padding:15px 0;
						a{
							.transition;
							display:block;
							height:55px;
							background:url('../_imgs/layout/adulto/adulto_facebook.png') @bege 10px center no-repeat;
							line-height:55px;
							width:227px;
							padding:0 10px 0 53px;
							.yanone(21px);
							color:@vinho;
							&:hover{
								background:url('../_imgs/layout/adulto/adulto_facebook.png') #53413d 10px center no-repeat;	
								color:#e4d5c2;
							}
						}
					}
				}
				.centro{
					position:relative;
					#imagem-footer{
						position:absolute;
						opacity:0;
						opacity:0;
						bottom:0;
						right:100px;
						display:block;
						width:394px;
						height:205px;
						background:url('../_imgs/layout/logo-footer.png') center center no-repeat;
					}
				}
			}
		}
		footer{
			display:none;
			opacity:0;
			width:100%;
			height:0px;
			line-height:42px;
			background-color:@marrom;
			.transition;
			.centro{
				.verdana(10px);
				color:#fff;
				.f-left{
					float:left;
					height:42px;
					line-height:42px;
				}
				.f-right{
					float:right;
					height:42px;
					line-height:42px;
					background:url('../_imgs/layout/trupe.png') right 12px no-repeat;
					a{
						.transition;
						padding-right:30px;	
						border-bottom:1px transparent dotted;
						color:#fff;
						&:active, &:visited{ color:#fff; }
						&:hover{
							border-bottom:1px #fff dotted;
						}
					}
				}
			}
		}
	}
}