.centro {
  width: 980px;
  padding: 0 0;
  margin: 0 auto;
}
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -9999px;
}
.align-right {
  text-align: right;
}
h2.nao-encontrado {
  text-align: center;
  font-family: 'Yanone', 'Verdana', 'Arial', sans-serif;
  font-size: 75px;
  font-weight: bold;
  color: #820f52;
}
h2.nao-encontrado.adulto {
  color: #e4d5c2;
}
.main {
  min-height: 600px;
}
html body {
  background: url('../_imgs/layout/adulto/bg_adulto-home.png') left top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body.internas {
  background: url('../_imgs/layout/adulto/bg_home.png') left top;
}
html body.internas footer {
  display: block;
  height: 42px;
  opacity: 1;
}
html body header #banner-topo {
  height: 0;
  -webkit-transition: height 0.6s ease-in-out;
  -moz-transition: height 0.6s ease-in-out;
  -o-transition: height 0.6s ease-in-out;
  transition: height 0.6s ease-in-out;
  background: url('../_imgs/layout/adulto/bg_home.png');
}
html body header #banner-topo .centro {
  height: 0;
  -webkit-transition: height 0.6s ease-in-out;
  -moz-transition: height 0.6s ease-in-out;
  -o-transition: height 0.6s ease-in-out;
  transition: height 0.6s ease-in-out;
  background: url('../_imgs/layout/logo.png') center center no-repeat;
  position: relative;
}
html body header #banner-topo .centro a {
  width: 220px;
  height: 0;
  margin-left: 0;
  margin-top: 0;
  display: block;
  text-indent: -9999px;
}
html body header #banner-topo nav {
  position: fixed;
  z-index: 9999999999;
}
html body header.header-home #banner-topo {
  height: 170px;
}
html body header.header-home #banner-topo .centro {
  height: 170px;
}
html body header.header-home #banner-topo .centro a {
  width: 220px;
  height: 130px;
  margin-left: 380px;
  padding-top: 20px;
  display: block;
  text-indent: -9999px;
}
html body header.header-home nav {
  position: relative;
}
html body header nav {
  width: 100%;
  padding-top: 10px;
  height: 50px;
  text-align: center;
  background: url('../_imgs/layout/adulto/adulto_menu.png') transparent left top repeat-x;
}
html body header nav ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  margin: 0 16px;
  height: 35px;
}
html body header nav ul li a {
  height: 35px;
  line-height: 35px;
  padding: 0 10px;
  display: block;
  color: #510e15;
  font-family: 'Yanone Light', 'Verdana', 'Arial', sans-serif;
  font-size: 22px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body header nav ul li a:active,
html body header nav ul li a:visited {
  color: #510e15;
}
html body header nav ul li a.ativo,
html body header nav ul li a:hover {
  color: #fff;
  background: url('../_imgs/layout/adulto/adulto_bg-menu_hover.png') left top repeat-x;
}
html body .main {
  position: relative;
  width: 100%;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
html body .main .centro {
  padding: 25px 0 25px 0;
}
html body .main.main-home .centro {
  padding: 45px 0 25px 0;
}
html body .main.main-home #banners {
  width: 936px;
  display: block;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 0 8px #000000;
  -moz-box-shadow: 0 0 8px #000000;
  -webkit-box-shadow: 0 0 8px #000000;
}
html body .main.main-home #banners #animate {
  width: 936px;
  min-height: 355px;
}
html body .main.main-home #banners #animate img {
  max-width: 936px;
  display: block;
  margin: 0 auto;
}
html body .main.main-home #banners .btn-Nav {
  width: 35px;
  height: 35px;
  top: 50%;
  position: absolute;
  z-index: 99999;
  margin-top: -17px;
  display: block;
  text-indent: -9999px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main.main-home #banners .btn-Nav#btn-Prev {
  left: 35px;
  background: url('../_imgs/layout/adulto/adulto_seta-esq_off.png') center center no-repeat;
}
html body .main.main-home #banners .btn-Nav#btn-Prev:hover {
  transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -moz-transform: scale(1.2);
  background: url('../_imgs/layout/adulto/adulto_seta-esq_on.png') center center no-repeat;
}
html body .main.main-home #banners .btn-Nav#btn-Next {
  right: 35px;
  background: url('../_imgs/layout/adulto/adulto_seta-dir_off.png') center center no-repeat;
}
html body .main.main-home #banners .btn-Nav#btn-Next:hover {
  transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -moz-transform: scale(1.2);
  background: url('../_imgs/layout/adulto/adulto_seta-dir_on.png') center center no-repeat;
}
html body .main.main-perfil .centro {
  position: relative;
}
html body .main.main-perfil .centro #texto-1 {
  padding-top: 10px;
}
html body .main.main-perfil .centro #texto-1 h1 {
  color: #e4d5c2;
  font-family: 'Yanone Light', 'Verdana', 'Arial', sans-serif;
  font-size: 37px;
  font-weight: normal;
  line-height: 100%;
  margin-bottom: 10px;
}
html body .main.main-perfil .centro #texto-1 p {
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #e4d5c2;
  width: 390px;
  line-height: 160%;
}
html body .main.main-perfil .centro #texto-2 {
  box-shadow: 0 0 8px #000000;
  -moz-box-shadow: 0 0 8px #000000;
  -webkit-box-shadow: 0 0 8px #000000;
  width: 505px;
  min-height: 330px;
  background-color: #e4d5c2;
  position: absolute;
  right: 0;
  top: 100px;
  font-size: 0;
}
html body .main.main-perfil .centro #texto-2 .coluna {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 289px;
  padding: 8px 4px 8px 12px;
}
html body .main.main-perfil .centro #texto-2 .coluna h1 {
  font-family: 'Yanone Light', 'Verdana', 'Arial', sans-serif;
  font-size: 37px;
  font-weight: normal;
  color: #510e15;
  line-height: 100%;
}
html body .main.main-perfil .centro #texto-2 .coluna p {
  margin-top: 10px;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #510e15;
  line-height: 160%;
}
html body .main.main-perfil .centro #texto-2 .imagem {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 200px;
}
html body .main.main-perfil .faixa-marrom {
  background-color: #53413d;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main.main-perfil .faixa-marrom .centro {
  padding: 15px 0;
}
html body .main.main-perfil .faixa-marrom .centro p {
  font-family: 'Yanone', 'Verdana', 'Arial', sans-serif;
  font-size: 21px;
  font-weight: normal;
  color: #e4d5c2;
  width: 410px;
  line-height: 115%;
}
html body .main.main-perfil .faixa-marrom.apagado {
  background-color: #510e15;
}
html body .main.main-projetos {
  font-size: 0;
}
html body .main.main-projetos #lateral {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 185px;
  padding: 0 15px;
  margin-right: 45px;
}
html body .main.main-projetos #lateral ul {
  box-shadow: 0 0 4px #353535;
  -moz-box-shadow: 0 0 4px #353535;
  -webkit-box-shadow: 0 0 4px #353535;
  background-color: #53413d;
  padding: 5px 0;
}
html body .main.main-projetos #lateral ul li {
  margin-left: -15px;
  width: 217px;
  height: 43px;
  line-height: 43px;
}
html body .main.main-projetos #lateral ul li a {
  display: block;
  width: 217px;
  height: 43px;
  line-height: 43px;
  color: #e4d5c2;
  text-align: center;
  background: url('../_imgs/layout/infantil/infantil_projetos-transparencia.png') center center no-repeat;
  font-family: 'Yanone Light', 'Verdana', 'Arial', sans-serif;
  font-size: 22px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main.main-projetos #lateral ul li a:active,
html body .main.main-projetos #lateral ul li a:visited {
  color: #e4d5c2;
}
html body .main.main-projetos #lateral ul li a.ativo,
html body .main.main-projetos #lateral ul li a:hover {
  background: url('../_imgs/layout/adulto/adulto_projetos-selecionado.png') center center no-repeat;
  color: #510e15;
}
html body .main.main-projetos #lateral #thumbs {
  width: 185px;
  height: 320px;
  font-size: 0;
  margin: 7px auto 0 auto;
}
html body .main.main-projetos #lateral #thumbs #imagens {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 185px;
  height: 285px;
  overflow: hidden;
  position: relative;
}
html body .main.main-projetos #lateral #thumbs #imagens .pagina {
  width: 185px;
  height: 285px;
}
html body .main.main-projetos #lateral #thumbs #imagens .pagina a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 88px;
  height: 88px;
  text-decoration: none;
  margin-bottom: 5px;
}
html body .main.main-projetos #lateral #thumbs #imagens .pagina a:hover img,
html body .main.main-projetos #lateral #thumbs #imagens .pagina a.ativo img {
  border: 4px #5c2336 solid;
}
html body .main.main-projetos #lateral #thumbs #imagens .pagina a img {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border: 4px #875964 solid;
}
html body .main.main-projetos #lateral #thumbs #imagens .pagina a.marg {
  margin-right: 7px;
}
html body .main.main-projetos #lateral #thumbs #navegacao {
  height: 35px;
}
html body .main.main-projetos #lateral #thumbs #navegacao a {
  background-color: #e4d5c2;
  height: 30px;
  display: none;
  line-height: 25px;
  font-family: 'Yanone', 'Verdana', 'Arial', sans-serif;
  font-size: 22px;
  font-weight: normal;
  width: 40px;
  text-align: center;
  text-decoration: none;
  color: #510e15;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main.main-projetos #lateral #thumbs #navegacao a:active,
html body .main.main-projetos #lateral #thumbs #navegacao a:visited {
  color: #510e15;
}
html body .main.main-projetos #lateral #thumbs #navegacao a:hover {
  background-color: #53413d;
  color: #e4d5c2;
}
html body .main.main-projetos #lateral #thumbs #navegacao a#nav-Prev {
  float: left;
}
html body .main.main-projetos #lateral #thumbs #navegacao a#nav-Next {
  float: right;
}
html body .main.main-projetos #ampliada {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 720px;
}
html body .main.main-projetos #ampliada img {
  position: absolute;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  opacity: 0;
  max-width: 700px;
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 8px #353535;
  -moz-box-shadow: 0 0 8px #353535;
  -webkit-box-shadow: 0 0 8px #353535;
}
html body .main.main-projetos #ampliada img:hover {
  cursor: pointer;
}
html body .main.main-midia #midia-container {
  min-height: 585px;
}
html body .main.main-midia #midia-container #animate .pagina-midia {
  width: 980px;
  font-size: 0;
}
html body .main.main-midia #midia-container #animate .pagina-midia a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  margin: 0 20px 20px 0;
  width: 167px;
  padding: 4px 2px;
  background-color: #5f2234;
}
html body .main.main-midia #midia-container #animate .pagina-midia a:hover {
  background-color: #835361;
}
html body .main.main-midia #midia-container #animate .pagina-midia a img {
  max-width: 163px;
  margin: 0 auto;
  display: block;
  margin-bottom: 5px;
}
html body .main.main-midia #midia-container #animate .pagina-midia a h2 {
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #e4d5c2;
  display: block;
  text-align: center;
  line-height: 110%;
}
html body .main.main-midia #midia-container #animate .pagina-midia a .data {
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #e4d5c2;
  display: block;
  text-align: center;
  line-height: 130%;
}
html body .main.main-midia #midia-container #animate .pagina-midia a.nomargin {
  margin-right: 0;
}
html body .main.main-midia #midia-container #navegacao {
  height: 35px;
  display: none;
}
html body .main.main-midia #midia-container #navegacao a {
  background-color: #e4d5c2;
  height: 30px;
  line-height: 25px;
  font-family: 'Yanone', 'Verdana', 'Arial', sans-serif;
  font-size: 22px;
  font-weight: normal;
  width: 40px;
  text-align: center;
  text-decoration: none;
  color: #510e15;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main.main-midia #midia-container #navegacao a:active,
html body .main.main-midia #midia-container #navegacao a:visited {
  color: #510e15;
}
html body .main.main-midia #midia-container #navegacao a:hover {
  background-color: #53413d;
  color: #e4d5c2;
}
html body .main.main-midia #midia-container #navegacao a#nav-Prev {
  float: left;
}
html body .main.main-midia #midia-container #navegacao a#nav-Next {
  float: right;
  margin-right: 45px;
}
html body .main.main-contato {
  min-height: 500px !important;
}
html body .main.main-contato #contato {
  width: 800px;
  margin: 0 auto;
  padding: 20px 0;
}
html body .main.main-contato #contato .resposta {
  color: #e4d5c2;
  font-family: 'Yanone', 'Verdana', 'Arial', sans-serif;
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  line-height: 150%;
  display: none;
}
html body .main.main-contato #contato #form {
  font-size: 0;
  height: 202px;
}
html body .main.main-contato #contato #form .coluna {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 400px;
  padding: 4px 0;
}
html body .main.main-contato #contato #form .coluna input[type="text"],
html body .main.main-contato #contato #form .coluna input[type="email"] {
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #e4d5c2;
  border: 0;
  margin: 0 0 5px 0;
  padding: 10px;
  background-color: rgba(71, 6, 26, 0.7);
  width: 365px;
}
html body .main.main-contato #contato #form .coluna textarea {
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #e4d5c2;
  border: 0;
  margin: 0 0 5px 0;
  padding: 10px;
  background-color: rgba(71, 6, 26, 0.7);
  width: 380px;
  resize: none;
  height: 135px;
}
html body .main.main-contato #contato #form .large {
  height: 33px;
}
html body .main.main-contato #contato #form .large input[type="submit"] {
  float: right;
  height: 30px;
  line-height: 25px;
  border: 0;
  width: 90px;
  font-family: 'Yanone Light', 'Verdana', 'Arial', sans-serif;
  font-size: 22px;
  font-weight: normal;
  color: #510e15;
  text-align: center;
  background-color: #e4d5c2;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main.main-contato #contato #form .large input[type="submit"]:hover {
  cursor: pointer;
  background-color: #53413d;
  color: #e4d5c2;
}
html body .main.main-contato #contato #telefone {
  font-family: 'Junge', 'Verdana', 'Arial', sans-serif;
  font-size: 34px;
  font-weight: normal;
  color: #e4d5c2;
}
html body .main.main-contato #contato #email a {
  font-family: 'Junge', 'Verdana', 'Arial', sans-serif;
  font-size: 25px;
  font-weight: normal;
  color: #e4d5c2;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main.main-contato #contato #email a:active,
html body .main.main-contato #contato #email a:visited {
  color: #e4d5c2;
}
html body .main.main-contato #contato #email a:hover {
  color: #ffffff;
}
html body .main.main-contato #contato #facebook {
  padding: 15px 0;
}
html body .main.main-contato #contato #facebook a {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  display: block;
  height: 55px;
  background: url('../_imgs/layout/adulto/adulto_facebook.png') #e4d5c2 10px center no-repeat;
  line-height: 55px;
  width: 227px;
  padding: 0 10px 0 53px;
  font-family: 'Yanone', 'Verdana', 'Arial', sans-serif;
  font-size: 21px;
  font-weight: normal;
  color: #510e15;
}
html body .main.main-contato #contato #facebook a:hover {
  background: url('../_imgs/layout/adulto/adulto_facebook.png') #53413d 10px center no-repeat;
  color: #e4d5c2;
}
html body .main.main-contato .centro {
  position: relative;
}
html body .main.main-contato .centro #imagem-footer {
  position: absolute;
  opacity: 0;
  bottom: 0;
  right: 100px;
  display: block;
  width: 394px;
  height: 205px;
  background: url('../_imgs/layout/logo-footer.png') center center no-repeat;
}
html body footer {
  display: none;
  opacity: 0;
  width: 100%;
  height: 0px;
  line-height: 42px;
  background-color: #53413d;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body footer .centro {
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 10px;
  font-weight: normal;
  color: #fff;
}
html body footer .centro .f-left {
  float: left;
  height: 42px;
  line-height: 42px;
}
html body footer .centro .f-right {
  float: right;
  height: 42px;
  line-height: 42px;
  background: url('../_imgs/layout/trupe.png') right 12px no-repeat;
}
html body footer .centro .f-right a {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  padding-right: 30px;
  border-bottom: 1px transparent dotted;
  color: #fff;
}
html body footer .centro .f-right a:active,
html body footer .centro .f-right a:visited {
  color: #fff;
}
html body footer .centro .f-right a:hover {
  border-bottom: 1px #fff dotted;
}
