.centro {
  width: 980px;
  padding: 0 0;
  margin: 0 auto;
}
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -9999px;
}
.align-right {
  text-align: right;
}
h2.nao-encontrado {
  text-align: center;
  font-family: 'Yanone', 'Verdana', 'Arial', sans-serif;
  font-size: 75px;
  font-weight: bold;
  color: #820f52;
}
h2.nao-encontrado.adulto {
  color: #e4d5c2;
}
.main {
  min-height: 600px;
}
.main,
.main .centro {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body {
  background: url('../_imgs/layout/infantil/bg_infantil.png') left top;
}
html body.internas footer {
  height: 42px;
}
html body header #banner-topo {
  height: 0;
  -webkit-transition: height 0.6s ease-in-out;
  -moz-transition: height 0.6s ease-in-out;
  -o-transition: height 0.6s ease-in-out;
  transition: height 0.6s ease-in-out;
  background: url('../_imgs/layout/infantil/bg_infantil-topo.png');
}
html body header #banner-topo .centro {
  height: 0;
  -webkit-transition: height 0.6s ease-in-out;
  -moz-transition: height 0.6s ease-in-out;
  -o-transition: height 0.6s ease-in-out;
  transition: height 0.6s ease-in-out;
  background: url('../_imgs/layout/logo.png') center center no-repeat;
}
html body header #banner-topo .centro a {
  width: 220px;
  height: 0;
  margin-left: 0;
  margin-top: 0;
  display: block;
  text-indent: -9999px;
}
html body header #banner-topo nav {
  position: fixed;
  z-index: 9999999999;
}
html body header.header-home #banner-topo {
  height: 170px;
}
html body header.header-home #banner-topo .centro {
  height: 170px;
}
html body header.header-home #banner-topo a {
  width: 220px;
  height: 130px;
  margin-left: 380px;
  padding-top: 20px;
  display: block;
  text-indent: -9999px;
}
html body header.header-home nav {
  position: relative;
}
html body header nav {
  width: 100%;
  padding-top: 10px;
  height: 50px;
  text-align: center;
  background: url('../_imgs/layout/infantil/infantil_menu.png') transparent left top repeat-x;
}
html body header nav ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  margin: 0 16px;
  height: 28px;
}
html body header nav ul li a {
  height: 28px;
  line-height: 28px;
  padding: 0 10px;
  display: block;
  color: #820f52;
  border-bottom: 2px transparent solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  behavior: url('PIE.htc');
  font-family: 'Yanone Light', 'Verdana', 'Arial', sans-serif;
  font-size: 22px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body header nav ul li a:active,
html body header nav ul li a:visited {
  color: #820f52;
}
html body header nav ul li a.ativo,
html body header nav ul li a:hover {
  border-bottom: 2px #6EBCAE solid;
  background-color: #fff;
}
html body .main {
  position: relative;
  width: 100%;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
html body .main .centro {
  padding: 25px 0 25px 0;
}
html body .main.main-home .centro {
  padding: 45px 0 25px 0;
}
html body .main.main-home #banners {
  width: 936px;
  display: block;
  margin: 0 auto;
  background-color: #fff;
  padding: 12px;
  position: relative;
  box-shadow: 0 0 8px #888888;
  -moz-box-shadow: 0 0 8px #888888;
  -webkit-box-shadow: 0 0 8px #888888;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  behavior: url('PIE.htc');
}
html body .main.main-home #banners #animate {
  width: 936px;
  min-height: 355px;
}
html body .main.main-home #banners #animate img {
  max-width: 936px;
  display: block;
  margin: 0 auto;
}
html body .main.main-home #banners .btn-Nav {
  width: 35px;
  height: 35px;
  top: 50%;
  position: absolute;
  z-index: 99999;
  margin-top: -17px;
  display: block;
  text-indent: -9999px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main.main-home #banners .btn-Nav#btn-Prev {
  left: 35px;
  background: url('../_imgs/layout/infantil/infantil_seta-esq_off.png') center center no-repeat;
}
html body .main.main-home #banners .btn-Nav#btn-Prev:hover {
  transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -moz-transform: scale(1.2);
  background: url('../_imgs/layout/infantil/infantil_seta-esq_on.png') center center no-repeat;
}
html body .main.main-home #banners .btn-Nav#btn-Next {
  right: 35px;
  background: url('../_imgs/layout/infantil/infantil_seta-dir_off.png') center center no-repeat;
}
html body .main.main-home #banners .btn-Nav#btn-Next:hover {
  transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -moz-transform: scale(1.2);
  background: url('../_imgs/layout/infantil/infantil_seta-dir_on.png') center center no-repeat;
}
html body .main.main-perfil .centro {
  height: 630px;
  position: relative;
}
html body .main.main-perfil .centro .texto {
  position: absolute;
}
html body .main.main-perfil .centro .texto .back {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  -webkit-border-radius: 600px;
  -moz-border-radius: 600px;
  -o-border-radius: 600px;
  border-radius: 600px;
  behavior: url('PIE.htc');
}
html body .main.main-perfil .centro .texto .fore {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
html body .main.main-perfil .centro .texto#texto-1 {
  width: 365px;
  height: 365px;
  top: 45px;
  left: 8px;
}
html body .main.main-perfil .centro .texto#texto-1 .back {
  background-color: #ad598a;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
}
html body .main.main-perfil .centro .texto#texto-1 .fore {
  color: #fff;
}
html body .main.main-perfil .centro .texto#texto-1 .fore h1 {
  font-family: 'Yanone Light', 'Verdana', 'Arial', sans-serif;
  font-size: 35px;
  font-weight: normal;
  text-align: center;
  height: 90px;
  line-height: 105px;
  margin-bottom: 10px;
  background: url('../_imgs/layout/infantil/infantil_div-empresa.png') center bottom no-repeat;
}
html body .main.main-perfil .centro .texto#texto-1 .fore p {
  display: block;
  margin: 0 auto;
  width: 325px;
  line-height: 160%;
  text-align: center;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: normal;
}
html body .main.main-perfil .centro .texto#texto-2 {
  top: 25;
  left: 396px;
  width: 242px;
  height: 242px;
}
html body .main.main-perfil .centro .texto#texto-2 .fore .img {
  width: 242px;
  height: 242px;
  -webkit-border-radius: 242px;
  -moz-border-radius: 242px;
  -o-border-radius: 242px;
  border-radius: 242px;
  behavior: url('PIE.htc');
  border: 121px rgba(116, 209, 200, 0.1) solid;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  display: block;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html body .main.main-perfil .centro .texto#texto-2.sobre .fore .img {
  border: 10px #74d1c8 dotted;
}
html body .main.main-perfil .centro .texto#texto-3 {
  top: 375px;
  left: 215px;
  width: 292px;
  height: 292px;
}
html body .main.main-perfil .centro .texto#texto-3 .back {
  background-color: #653658;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
}
html body .main.main-perfil .centro .texto#texto-3 .fore {
  color: #fff;
}
html body .main.main-perfil .centro .texto#texto-3 .fore p {
  display: block;
  margin: 40px auto 0 auto;
  width: 260px;
  line-height: 120%;
  text-align: center;
  font-family: 'Yanone Light', 'Verdana', 'Arial', sans-serif;
  font-size: 21px;
  font-weight: normal;
}
html body .main.main-perfil .centro .texto#texto-4 {
  top: 185px;
  left: 545px;
  width: 420px;
  height: 420px;
}
html body .main.main-perfil .centro .texto#texto-4 .back {
  background-color: #b3e6e1;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
}
html body .main.main-perfil .centro .texto#texto-4 .fore {
  color: #820f52;
}
html body .main.main-perfil .centro .texto#texto-4 .fore h1 {
  font-family: 'Yanone Light', 'Verdana', 'Arial', sans-serif;
  font-size: 35px;
  font-weight: normal;
  text-align: center;
  height: 90px;
  line-height: 105px;
  margin-bottom: 10px;
  background: url('../_imgs/layout/infantil/infantil_div-fabiana.png') center bottom no-repeat;
}
html body .main.main-perfil .centro .texto#texto-4 .fore p {
  display: block;
  margin: 0 auto;
  width: 325px;
  line-height: 160%;
  text-align: center;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: normal;
}
html body .main.main-projetos {
  font-size: 0;
}
html body .main.main-projetos #lateral {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 185px;
  padding: 0 15px;
  margin-right: 45px;
}
html body .main.main-projetos #lateral ul {
  background-color: #A54B7F;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  behavior: url('PIE.htc');
  padding: 13px 0;
  border-bottom: 5px #90316B solid;
}
html body .main.main-projetos #lateral ul li {
  margin-left: -15px;
  width: 217px;
  height: 43px;
  line-height: 43px;
}
html body .main.main-projetos #lateral ul li a {
  display: block;
  width: 217px;
  height: 43px;
  line-height: 43px;
  color: #FFF;
  text-align: center;
  background: url('../_imgs/layout/infantil/infantil_projetos-transparencia.png') center center no-repeat;
  font-family: 'Yanone Light', 'Verdana', 'Arial', sans-serif;
  font-size: 22px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main.main-projetos #lateral ul li a:active,
html body .main.main-projetos #lateral ul li a:visited {
  color: #FFF;
}
html body .main.main-projetos #lateral ul li a.ativo,
html body .main.main-projetos #lateral ul li a:hover {
  background: url('../_imgs/layout/infantil/infantil_projetos-selecionado.png') center center no-repeat;
  color: #820f52;
}
html body .main.main-projetos #lateral #thumbs {
  width: 185px;
  height: 320px;
  font-size: 0;
  margin: 7px auto 0 auto;
}
html body .main.main-projetos #lateral #thumbs #imagens {
  width: 185px;
  height: 285px;
}
html body .main.main-projetos #lateral #thumbs #imagens a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 88px;
  height: 88px;
  text-decoration: none;
  margin-bottom: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  behavior: url('PIE.htc');
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
html body .main.main-projetos #lateral #thumbs #imagens a:hover img,
html body .main.main-projetos #lateral #thumbs #imagens a.ativo img {
  border: 4px #77D2CB solid;
}
html body .main.main-projetos #lateral #thumbs #imagens a img {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  behavior: url('PIE.htc');
  border: 4px #D3EDEA solid;
}
html body .main.main-projetos #lateral #thumbs #imagens a.marg {
  margin-right: 7px;
}
html body .main.main-projetos #lateral #thumbs #navegacao {
  height: 35px;
}
html body .main.main-projetos #lateral #thumbs #navegacao a {
  background-color: #9bdcd6;
  height: 30px;
  display: none;
  line-height: 25px;
  font-family: 'Yanone', 'Verdana', 'Arial', sans-serif;
  font-size: 22px;
  font-weight: normal;
  width: 40px;
  text-align: center;
  text-decoration: none;
  color: #820f52;
  border-bottom: 2px #74cfca solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  behavior: url('PIE.htc');
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main.main-projetos #lateral #thumbs #navegacao a:active,
html body .main.main-projetos #lateral #thumbs #navegacao a:visited {
  color: #820f52;
}
html body .main.main-projetos #lateral #thumbs #navegacao a:hover {
  background-color: #a54b7f;
  color: #fff;
  border-bottom: 2px #90316b solid;
}
html body .main.main-projetos #lateral #thumbs #navegacao a#nav-Prev {
  float: left;
}
html body .main.main-projetos #lateral #thumbs #navegacao a#nav-Next {
  float: right;
}
html body .main.main-projetos #ampliada {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 720px;
}
html body .main.main-projetos #ampliada img {
  position: absolute;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  opacity: 0;
  max-height: 630px;
  max-width: 700px;
  display: block;
  margin: 0 auto;
  border: 10px #FFF solid;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  behavior: url('PIE.htc');
  box-shadow: 0 0 8px #888888;
  -moz-box-shadow: 0 0 8px #888888;
  -webkit-box-shadow: 0 0 8px #888888;
}
html body .main.main-projetos #ampliada img:hover {
  cursor: pointer;
}
html body .main.main-midia #midia-container {
  min-height: 585px;
}
html body .main.main-midia #midia-container #animate .pagina-midia {
  width: 980px;
  font-size: 0;
}
html body .main.main-midia #midia-container #animate .pagina-midia a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  margin: 0 20px 20px 0;
  width: 167px;
  padding: 4px 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  behavior: url('PIE.htc');
  background-color: #cfece8;
}
html body .main.main-midia #midia-container #animate .pagina-midia a:hover {
  background-color: #74d1c7;
}
html body .main.main-midia #midia-container #animate .pagina-midia a img {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  behavior: url('PIE.htc');
  max-width: 163px;
  margin: 0 auto;
  display: block;
  margin-bottom: 5px;
}
html body .main.main-midia #midia-container #animate .pagina-midia a h2 {
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #820f52;
  display: block;
  text-align: center;
  line-height: 110%;
}
html body .main.main-midia #midia-container #animate .pagina-midia a .data {
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #820f52;
  display: block;
  text-align: center;
  line-height: 130%;
}
html body .main.main-midia #midia-container #animate .pagina-midia a.nomargin {
  margin-right: 0;
}
html body .main.main-midia #midia-container #navegacao {
  height: 35px;
  display: none;
}
html body .main.main-midia #midia-container #navegacao a {
  background-color: #9dded8;
  border-bottom: 2px #78d4c7 solid;
  height: 30px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  behavior: url('PIE.htc');
  line-height: 25px;
  font-family: 'Yanone', 'Verdana', 'Arial', sans-serif;
  font-size: 22px;
  font-weight: normal;
  width: 40px;
  text-align: center;
  text-decoration: none;
  color: #820f52;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main.main-midia #midia-container #navegacao a:active,
html body .main.main-midia #midia-container #navegacao a:visited {
  color: #510e15;
}
html body .main.main-midia #midia-container #navegacao a:hover {
  background-color: #a54b7f;
  border-bottom: 2px #90316b solid;
  color: #FFF;
}
html body .main.main-midia #midia-container #navegacao a#nav-Prev {
  float: left;
}
html body .main.main-midia #midia-container #navegacao a#nav-Next {
  float: right;
  margin-right: 45px;
}
html body .main.main-contato {
  min-height: 500px !important;
}
html body .main.main-contato #contato {
  width: 800px;
  margin: 0 auto;
  padding: 20px 0;
}
html body .main.main-contato #contato .resposta {
  color: #820f52;
  font-family: 'Yanone', 'Verdana', 'Arial', sans-serif;
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  line-height: 150%;
  display: none;
}
html body .main.main-contato #contato #form {
  font-size: 0;
  height: 202px;
}
html body .main.main-contato #contato #form .coluna {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 400px;
  padding: 4px 0;
}
html body .main.main-contato #contato #form .coluna input[type="text"],
html body .main.main-contato #contato #form .coluna input[type="email"] {
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #820f52;
  border: 0;
  margin: 0 0 5px 0;
  padding: 10px;
  background-color: rgba(179, 230, 225, 0.5);
  width: 365px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  behavior: url('PIE.htc');
}
html body .main.main-contato #contato #form .coluna textarea {
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #820f52;
  border: 0;
  margin: 0 0 5px 0;
  padding: 10px;
  background-color: rgba(179, 230, 225, 0.5);
  width: 380px;
  resize: none;
  height: 135px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  behavior: url('PIE.htc');
}
html body .main.main-contato #contato #form .large {
  height: 33px;
}
html body .main.main-contato #contato #form .large input[type="submit"] {
  float: right;
  background-color: #9dded8;
  height: 30px;
  line-height: 25px;
  border: 0;
  border-bottom: 2px #78d4c7 solid;
  width: 90px;
  font-family: 'Yanone Light', 'Verdana', 'Arial', sans-serif;
  font-size: 22px;
  font-weight: normal;
  color: #510e15;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  behavior: url('PIE.htc');
  text-align: center;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main.main-contato #contato #form .large input[type="submit"]:hover {
  cursor: pointer;
  background-color: #a54b7f;
  border-bottom: 2px #90316b solid;
  color: #fff;
}
html body .main.main-contato #contato #telefone {
  font-family: 'Junge', 'Verdana', 'Arial', sans-serif;
  font-size: 34px;
  font-weight: normal;
  color: #820f52;
}
html body .main.main-contato #contato #email a {
  font-family: 'Junge', 'Verdana', 'Arial', sans-serif;
  font-size: 25px;
  font-weight: normal;
  color: #820f52;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main.main-contato #contato #email a:active,
html body .main.main-contato #contato #email a:visited {
  color: #820f52;
}
html body .main.main-contato #contato #email a:hover {
  color: #42A599;
}
html body .main.main-contato #contato #facebook {
  padding: 15px 0;
}
html body .main.main-contato #contato #facebook a {
  display: block;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  height: 55px;
  background: url('../_imgs/layout/infantil/infantil_facebook.png') #9bdcd6 10px center no-repeat;
  line-height: 55px;
  border-bottom: 2px #78d4c7 solid;
  width: 227px;
  padding: 0 10px 0 53px;
  font-family: 'Yanone', 'Verdana', 'Arial', sans-serif;
  font-size: 21px;
  font-weight: normal;
  color: #820f52;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  behavior: url('PIE.htc');
}
html body .main.main-contato #contato #facebook a:hover {
  background: url('../_imgs/layout/infantil/infantil_facebook.png') #a54b7f 10px center no-repeat;
  border-bottom: 2px #90316b solid;
  color: #fff;
}
html body .main.main-contato .centro {
  position: relative;
}
html body .main.main-contato .centro #imagem-footer {
  position: absolute;
  opacity: 0;
  bottom: 0;
  right: 100px;
  display: block;
  width: 394px;
  height: 205px;
  background: url('../_imgs/layout/logo-footer.png') center center no-repeat;
}
html body footer {
  width: 100%;
  height: 0px;
  line-height: 42px;
  background-color: #820f52;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body footer .centro {
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 10px;
  font-weight: normal;
  color: #fff;
}
html body footer .centro .f-left {
  float: left;
  height: 42px;
  line-height: 42px;
}
html body footer .centro .f-right {
  float: right;
  height: 42px;
  line-height: 42px;
  background: url('../_imgs/layout/trupe.png') right 12px no-repeat;
}
html body footer .centro .f-right a {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  padding-right: 30px;
  border-bottom: 1px transparent dotted;
  color: #fff;
}
html body footer .centro .f-right a:active,
html body footer .centro .f-right a:visited {
  color: #fff;
}
html body footer .centro .f-right a:hover {
  border-bottom: 1px #fff dotted;
}
