.centro{width:980px;padding:0 0;margin:0 auto;}
.inline{display:inline-block;*display:inline;zoom:1;vertical-align:top;}
.aviso{color:#9F6000;background-color:#FEEFB3;border:2px #9F6000 solid;}
.sucesso{border:2px #C6D880 solid;background-color:#E6EFC2;color:#264409;}
.falha{border:2px #D8000C solid;color:#D8000C;background-color:#FFBABA;}
.offscreen{display:block;text-indent:-9999px;}
.align-right{text-align:right;}
h2.nao-encontrado{text-align:center;font-family:'Yanone','Verdana','Arial',sans-serif;font-size:75px;font-weight:bold;color:#820f52;}h2.nao-encontrado.adulto{color:#e7dab8;}
.main{min-height:600px;}
html{height:100%;}html body{height:100%;width:100%;background:url('../_imgs/layout/bg_home.png');}html body #links{font-size:0;height:100%;display:block;width:100%;position:relative;}html body #links .link{width:50%;height:100%;position:absolute;top:0;z-index:1;}html body #links .link.infantil{left:0;background:url('../_imgs/landing/home_infantil.png') right center no-repeat;}
html body #links .link.adulto{right:0;background:url('../_imgs/landing/home_adulto.png') left center no-repeat;}
html body #links #logo{background:url('../_imgs/landing/home_logo.png') center center no-repeat;width:100%;height:100%;position:absolute;top:0;left:0;z-index:2;}
html body #links .faixa-escura{width:48%;height:154px;position:absolute;background-color:#45081a;top:50%;z-index:0;margin-top:-77px;-webkit-transition:all 0.6s ease-in;-moz-transition:all 0.6s ease-in;-o-transition:all 0.6s ease-in;transition:all 0.6s ease-in;}html body #links .faixa-escura.infantil{left:0;}
html body #links .faixa-escura.adulto{right:0;}
html body #links .seta{height:155px;position:absolute;margin-top:-53px;z-index:1;-webkit-transition:all 0.6s ease-in;-moz-transition:all 0.6s ease-in;-o-transition:all 0.6s ease-in;transition:all 0.6s ease-in;width:30px;}html body #links .seta.infantil{right:255px;background:url('../_imgs/landing/home_seta-esq.png') center center no-repeat;}
html body #links .seta.adulto{left:255px;background:url('../_imgs/landing/home_seta-dir.png') center center no-repeat;}
html body #links .texto{height:50px;position:absolute;z-index:1;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;width:85px;}html body #links .texto.infantil{right:325px;}
html body #links .texto.adulto{left:325px;}
html body #links a#adu{font-family:'Yanone Light','Verdana','Arial',sans-serif;font-size:24px;font-weight:normal;padding-top:53px;line-height:115%;position:absolute;height:102px;margin-top:-77px;width:48%;top:50%;right:0;z-index:3;text-decoration:none;color:#e7dab8;text-align:center;-webkit-transition:all 0.6s ease-in;-moz-transition:all 0.6s ease-in;-o-transition:all 0.6s ease-in;transition:all 0.6s ease-in;}html body #links a#adu:active,html body #links a#adu:visited{color:#e7dab8;}
html body #links a#adu:hover{color:#45081a;}
html body #links a#adu:hover~.faixa-escura.adulto{background-color:#e7dab8;}
html body #links a#adu:hover .seta.adulto{background:url('../_imgs/landing/home_seta-dir-hover.png') center center no-repeat;}
html body #links a#inf{font-family:'Yanone Light','Verdana','Arial',sans-serif;font-size:24px;font-weight:normal;padding-top:53px;line-height:115%;position:absolute;height:102px;margin-top:-77px;width:48%;left:0;top:50%;z-index:3;text-decoration:none;color:#7fd1cf;text-align:center;-webkit-transition:all 0.6s ease-in;-moz-transition:all 0.6s ease-in;-o-transition:all 0.6s ease-in;transition:all 0.6s ease-in;}html body #links a#inf:active,html body #links a#inf:visited{color:#7fd1cf;}
html body #links a#inf:hover{color:#45081a;}
html body #links a#inf:hover~.faixa-escura.infantil{background-color:#7fd1cf;}
html body #links a#inf:hover .seta.infantil{background:url('../_imgs/landing/home_seta-esq-hover.png') center center no-repeat;}
