.centro{width:980px;padding:0 0;margin:0 auto;}
.inline{display:inline-block;*display:inline;zoom:1;vertical-align:top;}
.aviso{color:#9F6000;background-color:#FEEFB3;border:2px #9F6000 solid;}
.sucesso{border:2px #C6D880 solid;background-color:#E6EFC2;color:#264409;}
.falha{border:2px #D8000C solid;color:#D8000C;background-color:#FFBABA;}
.offscreen{display:block;text-indent:-9999px;}
.align-right{text-align:right;}
h2.nao-encontrado{text-align:center;font-family:'Yanone','Verdana','Arial',sans-serif;font-size:75px;font-weight:bold;color:#820f52;}h2.nao-encontrado.adulto{color:#e4d5c2;}
.main{min-height:600px;}
