@import 'vars.less';

.ui-widget{
	font-size:0.6em !important;
}

body{
	header{
		min-height:42px;
		padding-top:13px;
		background-color:@verde_claro;
		border-bottom:1px #669999 solid;
		.centro{ min-height:42px;}
		#lang-select{
			padding:7px;
			height:18px;
			font-size:0;
			width:228px;
			white-space:nowrap;
			background-color:@verde_escuro;
			position:relative;
			z-index:99999999999999999999999999;
			.arredondada(5px);
			.fb-like{
				margin:-1px 0 0 12px;
			}
			a{
				text-decoration:none;
				color:#FFF;
				.transition(all, .3s, ease-in);
				&:active, &:visited{ color:#FFF; }
				padding-left:10px;
				.myriad;
				.inline;
				&:hover{
					color:@azul_escuro;
				}
			}
		}
		#login-box{
			position:absolute;
			right:0;
			top:0;
			color:@azul_escuro;
			.verdana(8px);
			/*width:390px;*/
			text-align:right;
			.login-fail{
				display:none;
				width:390px;
				color:#FF2A2A;
				.verdana(10px);
				display:none;
				text-align:center;
			}
			a{
				.verdana(10px);
				text-decoration:none;
				color:@azul_escuro;
				.transition(all, .3s, ease-in);
				&:active, &:visited{ color:@azul_escuro; }
				&:hover{
					color:#fff;
				}
			}			
			form{
				width:390px;
				font-size:0;
				input[type="text"],
				input[type="password"]{
					.inline;
					width:153px;
					.myriadCond(10px);
					color:@azul_escuro;
					padding:5px 10px;
					background-color:#fff;
					margin:0 3px 0 0;
					border:1px #669999 solid;
					position:relative;
					z-index:1;
					.arredondada(5px);
				}
				input[type="submit"]{
					.inline;
					.transition;
					border:0;
					.myriadCond(10px);
					.arredondada(5px);
					position:relative;
					z-index:1;
					padding:0;
					width:24px;
					height:24px;
					text-align:center;
					background-color:@azul_escuro;
					color:#FFF;
					margin:0;
					&:hover{ cursor:pointer; color:@azul_claro; }
				}
			}
			.perfil-area{
				line-height:42px;
				.verdana(10px);
				color:@azul_escuro;
				a.logout{
					color:@azul_escuro;
					text-decoration:underline;
					.transition;
					&:active, &:visited{color:@azul_escuro;}
					&:hover{color:#FFF;}
				}
				a.perfil-link{	
					margin-top:-5px;
					padding:0 12px;
					background-color:@azul_escuro;
					text-decoration:none;
					.inline;
					vertical-align:middle;
					height:20px;
					line-height:20px;
					.arredondada(5px);
					position:relative;
					z-index:1;
					.myriadCond(12px);
					color:#FFF;
					.transition;
					&:active, &:visited{ color:#FFF; }
					&:hover{
						color:@azul_claro;
					}
				}
			}
		}
	}
	&#body-pt .backdrop #menu-container{
		background:url('../_imgs/layout/apoio-pt.png') left top no-repeat;
	}
	&#body-es .backdrop #menu-container{
		background:url('../_imgs/layout/apoio-es.png') left top no-repeat;
	}
	.backdrop{
		background:url('../_imgs/layout/bg-topo.jpg') #DDEBEB center top no-repeat;
		.centro{
			#menu-container{
				height:242px;
				width:@largura;
				position:relative;
				#link-home{
					position:absolute;
					top:0;
					left:0;
					width:370px;
					height:160px;
					display: block;
				}
				nav{
					z-index:999999;
					position: absolute;
					left:0;
					top:168px;
					height:30px;
					line-height:30px;
					font-size:0;
					ul{
						margin-right:10px;
						padding:0 5px;
						.arredondada(5px);
						position:relative;
						z-index:1;
						background:url('../_imgs/layout/bg-menu.jpg') left top;
						.inline;
						list-style:none;
						li{
							height:30px;
							.inline;
							a{
								.myriadCond(14px);
								color:#fff;
								display:block;
								height:30px;
								padding:0 18px;
								.transition;
								&:active, &:visited{color:#fff;}
								&.ativo, &:hover{
									color:@azul_claro;
								}
							}
						}
					}
					form{
						.inline;
						height:30px;
						background-color:@verde_claro;
						.arredondada(5px);
						position:relative;
						z-index:1;
						width:270px;
						padding:0 5px;
						input::-webkit-input-placeholder {
						    color:#FFF;
						}
						input:-moz-placeholder {
						    color:#FFF;
						}
						input:-ms-input-placeholder {
						    color:#FFF;
						}
						input[type="text"]{
							.inline;
							margin:0;
							border:0;
							padding:5px;
							height:20px;
							line-height:20px;
							color:#fff;
							width:240px;
							.myriad();
							background-color:@verde_claro;
						}
						input[type="submit"]{
							.inline;
							border:0;
							padding:0;
							.arredondada(5px);
							position:relative;
							z-index:1;
							width:20px;
							.transition;
							height:20px;
							line-height:20px;
							margin:5px 0;
							color:#FFF;
							//background:url('../_imgs/layout/pesquisa-setas.png') @verde_escuro center center no-repeat;
							background-color:@verde_escuro;
							.myriad(20px);
							&:hover{
								cursor:pointer;
								color:@azul_escuro;
							}
						}
					}					
				}
				#banners-home{
					position: absolute;
					width:540px;
					height:203px;
					right:0;
					top:20px;
					z-index:1;
					img{
						position:absolute;
						top:0;
						left:0;
						.arredondada(10px);
					}
				}
			}
			.main{
				min-height:400px;
				padding-bottom:30px;
			}
		}
	}
	footer{
		background-color:@azul_rodape;
		height:175px;
		ul{
			.verdana(11px);
			margin-right:50px;
			padding-top:15px;
			float:left;
			list-style:none;
			li{
				height:18px;
				margin-bottom:2px;
				a{	
					color:@azul_escuro;
					.transition;
					&:active, &:visited{color:@azul_escuro;}
					&.ativo, &:hover{ color:#000; }
				}
				&.cadastro{margin-bottom:18px;}
			}
		}
		#disclaimer{
			width:630px;
			padding-top:15px;
			height:160px;
			border-right:1px #FFF solid;
			border-left:1px #FFF solid;
			margin:0 auto;
			text-align:center;
			.verdana(10px);
			line-height:150%;
			color:@azul_escuro;
		}
		#linkcontato{
			.verdana(10px);
			color:@azul_escuro;
			.transition;
			&:active, &:visited{color:@azul_escuro;}
			&:hover{color:#fff;}
		}
		.assinatura{
			float:right;
			padding-top:15px;
			text-align:right;
			.verdana(10px);
			color:@azul_escuro;
			line-height:120%;
			a{
				display: block;
				margin-top:10px;
			}
		}
	}
}
#banner{
	padding:40px 0;
	a{
		width:860px;
		display:block;
		margin:0 auto;
	}
}
#paginacao{
	text-align:center;
	font-size:0;
	padding:15px 0;
	a, strong{
		margin-right:5px;
		.inline;
		width:20px;
		height:20px;
		line-height:20px;
		text-align:center;
		background-color:@azul_claro;
		color:@azul_escuro;
		.verdana(12px);
	}
	a{
		color:#fff;
		.transition;
		&:active, &:visited{ color:#fff; }
		&:hover{
			color:@azul_escuro;
		}
	}
}

.main-institucional{
	h1{
		.myriadCond(20px);
		color:@azul_escuro;
		margin-bottom:20px;		
	}
	font-size:0;
	aside{
		width:500px;
		margin-right:30px;
		.inline;
	}
	article{
		.inline;
		width:450px;
		h2{
			background-color:@azul_claro;
			color:@azul_escuro;
			.myriadCond(28px);
			.arredondada(0 0 40px 0);
			position:relative;
			z-index:1;
			line-height:110%;
			padding:10px 0 10px 10px;
			margin-bottom:20px;			
		}
		p{
			.verdana(12px);
			line-height:160%;
			margin:10px 0;
			color:@azul_escuro;
			a{
				text-decoration:underline;
				color:@azul_escuro;
				.transition;
				&:active, &:visited{ color:@azul_escuro; }
				&:hover{
					color:@azul_claro;
				}
			}
		}
	}
}