.centro {
  position: relative;
  width: 980px;
  padding: 0 0;
  margin: 0 auto;
}
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
input[type="radio"]input[type="checkbox"] {
  border: 1px #293f66 solid;
  background-color: #fff;
  background-image: none;
}
.main-busca h1 {
  font-family: 'Myriad Web Pro Cond', 'Verdana', 'Arial', sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: normal;
  color: #00b0dc;
  padding-bottom: 10px;
  border-bottom: 1px #00b0dc solid;
}
.main-busca h1 .azul {
  background-color: #00b0dc;
  color: #fff;
  padding: 2px 5px;
}
.main-busca .tipo-resultado {
  height: 20px;
  line-height: 20px;
  position: relative;
  margin: 24px 0 10px 0;
}
.main-busca .tipo-resultado .titulo {
  position: absolute;
  height: 20px;
  line-height: 20px;
  font-family: 'Myriad Web Pro Cond', 'Verdana', 'Arial', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
  width: 110px;
  background-color: #293f66;
  padding-left: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  color: #9abe41;
  z-index: 9;
}
.main-busca .tipo-resultado .linha {
  height: 1px;
  background-color: #9abe41;
  width: 100%;
  position: absolute;
  top: 9px;
  left: 0;
  z-index: 1;
}
.main-busca a {
  display: block;
  margin-bottom: 3px;
  min-height: 80px;
  text-decoration: none;
  color: #FFF;
  background-color: #00b0dc;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main-busca a img {
  float: left;
  max-height: 80px;
  margin-right: 5px;
}
.main-busca a:active,
.main-busca a:visited {
  color: #FFF;
}
.main-busca a:hover {
  background-color: #9abe41;
}
.main-busca a .titulo {
  font-family: 'Verdana', 'Arial', sans-serif;
  font-style: normal;
  font-size: 10px;
  font-weight: normal;
}
.main-busca a .palestrante,
.main-busca a .olho {
  font-family: 'Verdana', 'Arial', sans-serif;
  font-style: italic;
  font-size: 10px;
  font-weight: normal;
}
.main-busca a .data {
  font-family: 'Verdana', 'Arial', sans-serif;
  font-style: normal;
  font-size: 10px;
  font-weight: bold;
}
