@import 'vars.less';

.main-busca{
	h1{
		.myriadCond(24px);
		color:@azul_claro;
		padding-bottom:10px;
		border-bottom:1px @azul_claro solid;
		.azul{
			background-color:@azul_claro;
			color:#fff;
			padding:2px 5px;
		}
	}
	.tipo-resultado{
		height:20px;
		line-height:20px;
		position: relative;
		margin:24px 0 10px 0;
		.titulo{
			position:absolute;
			height:20px;
			line-height:20px;
			.myriadCond(16px);
			width:110px;
			background-color:@azul_escuro;
			padding-left:10px;
			.arredondada(5px);
			color:@verde_claro;
			z-index: 9;
		}
		.linha{
			height:1px;
			background-color:@verde_claro;
			width:100%;
			position:absolute;
			top:9px;
			left:0;
			z-index: 1;
		}		
	}
	a{
		display: block;
		img{
			float:left;
			max-height:80px;
			margin-right:5px;
		}
		margin-bottom:3px;
		min-height:80px;
		text-decoration:none;
		color:#FFF;
		background-color:@azul_claro;
		.transition;
		&:active, &:visited{ color:#FFF; }
		&:hover{
			background-color:@verde_claro;
		}
		.titulo{
			.verdana(10px);
		}
		.palestrante, .olho{
			.verdana(10px, normal, italic);
		}
		.data{
			.verdana(10px, bold);
		}
	}
}