@import 'vars.less';

body{
	.form-cadastro{
		font-size:0;
		background-color:#fff;
		padding:40px;
		border:1px @azul_claro solid;
		input[type="submit"]{
			display:block;
			width:900px;
			border:0;
			.arredondada(5px);
			position:relative;
			z-index:1;
			margin-top:30px;
			text-align:center;
			background-color:@azul_escuro;
			color:#FFF;
			height:30px;
			line-height:30px;
			.myriadCond(20px);
			&:hover{
				cursor:pointer;
			}
		}		
		.coluna{
			.inline;
			h1{
				.myriadCond(20px);
				color:@azul_escuro;
				margin-bottom:15px;
			}
			&.cadastro{
				width:470px;
				label{
					.myriadCond(12px);
					color:@azul_escuro;
					display:block;
					margin-bottom:13px;
					input[type="password"],
					input[type="email"],
					input[type="text"]{
						margin:0;
						padding:3px 5px 3px 5px;
						border:1px @azul_claro solid;
						.arredondada(5px);
						position:relative;
						z-index:1;
						height:22px;
						line-height:22px;
						width:458px;
						color:@azul_escuro;
						.myriadCond(16px);
					}
					a{
						color:@azul_escuro;
						margin:0 5px;
						text-decoration:underline;
						.transition;
						&:active, &:visited{color:@azul_escuro;}
						&:hover{ font-weight:bold; }
					}
					&.check{
						margin-bottom:0;
						font-weight:bold;
						input{ vertical-align:bottom; }
					}
					&.aceite{
						.texto{
							padding:7px;
							border:1px @azul_claro solid;
							height:300px;
							.arredondada(5px);
							position:relative;
							z-index:1;
							.disc{
								height:300px;
								overflow-y: scroll;
								.verdana(10px);
								color:@azul_escuro;
								h2, p, ul{
									margin:10px 0;
									padding-right:10px;
								}
								h2{font-weight:bold;}
								ul{
									list-style:none;
									padding-left:10px;
									li{
										margin:5px 0;
									}
								}
								&#espanhol{display:none;}
								&#ingles{display:none;}
							}
						}
					}
				}
				.multi{
					label{
						.inline;
						&.primeiro{
							width:260px;
							select{
								width:247px;
								margin:0;
								padding:0;
								border:1px @azul_claro solid;
								.arredondada(5px);
								position:relative;
								z-index:1;
								height:30px;
								padding-right:3px;
							}
							input{
								width:238px;
							}
							&.menor{
								margin-top:2px;
								font-size:11px;
							}
						}
						&.segundo{
							width:210px;
							input{
								width:198px;
							}
						}
					}
				}
			}
			&.preferencias{
				padding-left:25px;
				margin-left:25px;
				border-left:1px @azul_claro solid;
				width:377px;
				.label{
					.myriadCond(12px);
					color:@azul_escuro;
				}
				.box{
					border:1px @azul_claro solid;
					.arredondada(5px);
					position:relative;
					z-index:1;
					margin-bottom:13px;
					&.short{
						min-height:28px;
						line-height:28px;
						label{
							display:block;
							margin:0 15px 0 10px;
							input{vertical-align:baseline; margin:0 3px;}
						}
					}
					&.conteudos{
						padding:10px;
						label{
							display:block;
							margin-bottom:8px;
							text-indent:-20px;
							padding-left:20px;
							input{
								vertical-align:bottom;
							}
						}
					}
					label{
						.verdana(12px);
						color:@azul_escuro;
					}
				}
			}
		}
	}
}