@import 'vars.less';

.main{
	.videos{
		background-color:#fff;
		border:1px @azul_claro solid;
		padding:10px 10px 18px 10px;
		font-size:0;
		.ampliado{
			.fakeembed{
				display:block;
				background-color:#fff;
				position:relative;
				img{
					position:absolute;
					&.bg{
						top:0;
						left:0;
						z-index:11;
						width:100%;
						height:100%;
					}
					&.overlay{
						z-index:19;
						left: 295px;
						top: 148px;
					}
				}
			}
			.inline;
			width:640px;
			margin-right:18px;
			.data{
				height:20px;
				div{
					height:20px;
					line-height:20px;
					padding:0 25px 0 10px;
					float:right;
					background-color:@azul_claro;
					color:#fff;
					.verdana(10px, bold);
				}
			}
			.texto{
				border-top:1px @azul_claro solid;
				padding:8px 0 0 50px;
				background:url('../_imgs/layout/seta-destaque-video-home.png') left top no-repeat;
				h1{
					.arial(20px);
					color:@azul_escuro;
				}
				h2{
					.arial(16px, normal, italic);
					color:@azul_escuro;
				}
				.olho{
					margin:15px 0;
					p{
						.verdana(10px);
						color:@texto;
						line-height:140%;
					}
				}
				.ver-mais{
					height:20px;
					a{
						height:20px;
						line-height:20px;
						display:block;
						float:right;
						background-color:@azul_claro;
						color:@azul_escuro;
						padding:0 12px;
						.myriadCond(14px);
						.transition;
						&:active, &:visited{color:@azul_escuro;}
						&:hover{ color:#fff; }
					}
				}
			}
		}
		.lista{
			.inline;
			width:300px;
			a.botao-preferencias{
				.myriadCond(14px);
				.arredondada(5px);
				position:relative;
				z-index:1;
				.transition;
				&:active, &:visited{color:#fff;}
				color:#fff;
				background-color:@verde_claro;
				height:40px;
				line-height:40px;
				display:block;
				text-align:center;
				margin-bottom:15px;
				&:hover{
					color:@azul_escuro;
				}
			}
			.ordem{
				.verdana(9px);
				color:@texto;
			}
			a.botao-todos{
				margin-top:10px;
				.myriadCond(14px);
				.arredondada(5px);
				position:relative;
				z-index:1;
				.transition;
				&:active, &:visited{color:#fff;}
				color:#fff;
				background-color:@azul_escuro;
				height:20px;
				line-height:20px;
				display:block;
				text-align:center;
				&:hover{
					color:@azul_claro;
				}			
			}
			ul{
				margin-top:3px;
				li{
					height:84px;
					overflow:hidden;
					background-color:@azul_claro;
					margin-bottom:10px;
					a{
						display:block;
						.transition;
						img{
							.inline;
							height:84px;
							margin-right:10px;
						}
						.descricao{
							.transition;
							padding-top:10px;
							.inline;
							width:140px;
							height:74px;
							color:#FFF;
							.titulo{.verdana(10px);}
							.palestrante{.verdana(10px,normal,italic);}
							.data{.verdana(10px,bold,italic);}
						}
						&:hover{
							background-color:@verde_claro;
						}
					}
				}
			}
		}
	}
	.chamadas{
		min-height:350px;
		margin-top:22px;
		margin-bottom:30px;
		font-size:0;
		position:relative;
		.coluna{
			.inline;
			width:260px;
			margin-right:25px;
			.aovivo{
				display: block;
				background-color:#BCD658;
				.arredondada(5px);
				position:relative;
				overflow:hidden;
				max-height:390px;
				padding-bottom:10px;
				z-index:1;
				.transition;
				.inline;
				&:active, &:visited{}
				&:hover{}
				.pad{
					padding:20px 8px 8px 8px;
					img{
						display: block;
						margin:0 auto 6px auto;
					}
					h1{.myriadCond(22px); margin-bottom:3px;}
				}
				line-height:120%;
				.myriadCond(16px);
				color:@azul_escuro;
				text-align:center;
				.transmitindo{
					text-align:left;
					background:url('../_imgs/layout/degrade-transmissao.png') #BCD658 left top repeat-x;
					padding:8px 8px 10px 8px;
					max-height:190px;
					overflow:hidden;
					.arredondada(0 0 5px 5px);
					position:relative;
					z-index:1;
					.verdana(10px);
					line-height:140%;
					.titulo, strong{
						font-weight:bold;
					}
				}
			}
			#cad_link{
				display:block;
				line-height:80%;
				clear:both;
				margin-top:20px;
				width:260px;
				padding:10px 0;
				height:40px;
				.arredondada(10px);
				position:relative;
				z-index:1;
				background-color:@azul_escuro;
				color:@azul_claro;
				.transition;
				.myriadCond(24px);
				text-align:center;
				.menor{.myriadCond(14px);}
				&:hover{color:#fff;}
			}		
		}

		.noticias{
			.inline;
			width:695px;
			h1.acontece{
				background-color:#669999;
				color:#fff;
				.myriadCond(20px);
				height:40px;
				line-height:40px;
				padding:0 140px 0 8px;
				.arredondada(0 999999px 0 0);
				position:relative;
				z-index:1;
				width:216px;
				margin-bottom:10px;
				white-space:nowrap;
			}
			.noticia{
				overflow:hidden;
				width:225px;
				margin-right:10px;
				color:#fff;
				.transition;
				&.ultima{margin-right:0;}
				.inline;
				.corpo{
					background-color:#336666;
					padding-bottom:10px;
					height:324px;
					overflow:hidden;
					h1{
						padding:18px 10px 0 10px;
						.myriadCond(14px);
					}
					.data{
						padding:0 10px;
						.verdana(10px);
					}
					.texto{
						padding:10px 10px 0 10px;
						min-height:60px;
						overflow: hidden;
						p{
							.transition;
							.verdana(10px);
							height:105px;
							overflow:hidden;
						}
					}
				}
				&:hover{
					color:@verde_escuro;
				}
				.saiba-mais{
					height:15px;
					line-height:15px;
					padding-right:17px;
					.arredondada(0 0 99999px 0);
					position:relative;
					z-index:1;
					background-color: #669999;
					color:#003366;
					text-align:right;
					.verdana(10px);
				}
			}
		}
	}
	#banner{
		a{
			width:860px;
			display:block;
			margin:0 auto;
		}
	}	
}