@verde_claro:#9ABE41;
@verde_escuro:#6CA946;
@azul_claro:#00B0DC;
@azul_escuro:#293F66;
@azul_rodape:#99CCCC;
@preto:#373435;
@texto:#4D4D4D;

@largura:980px;

.centro{ position:relative; .centralizar;}
.centralizar(@pad:0){
	width:@largura - (@pad * 2);
	padding:0 @pad;
	margin:0 auto;
}
.inline{
	display: inline-block;
	*display:inline;
	zoom:1;
	vertical-align:top;
}
.myriad(@fsize:12px, @fweight:normal, @fstyle:normal){
	font-family:'Myriad Web Pro','Verdana','Arial', sans-serif;
	font-style:@fstyle;
	font-size:@fsize;
	font-weight:@fweight;
}
.myriadCond(@fsize:12px, @fweight:normal, @fstyle:normal){
	font-family:'Myriad Web Pro Cond','Verdana','Arial', sans-serif;
	font-style:@fstyle;
	font-size:@fsize;
	font-weight:@fweight;
}
.verdana(@fsize:12px, @fweight:normal, @fstyle:normal){
	font-family:'Verdana','Arial',sans-serif;
	font-style:@fstyle;
	font-size:@fsize;
	font-weight:@fweight;
}
.arial(@fsize:12px, @fweight:normal, @fstyle:normal){
	font-family: 'Arial', 'Verdana', 'Tahoma', sans-serif;
	font-style:@fstyle;
	font-size:@fsize;
	font-weight:@fweight;
}
.calibri(@fsize:12px, @fweight:normal, @fstyle:normal){
	font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
	font-style:@fstyle;
	font-size:@fsize;
	font-weight:@fweight;
}
.arredondada(@raio:10px){
	-webkit-border-radius:@raio;
	-moz-border-radius:@raio;
	-o-border-radius:@raio;
	border-radius:@raio;
	//behavior:url('border-radius.htc');
	position:relative;
}
.transition(@prop:all, @dur:.3s, @type:ease-in){
	-webkit-transition:@prop @dur @type;  
   -moz-transition:@prop @dur @type;  
   -o-transition:@prop @dur @type;  
   transition:@prop @dur @type;
}
.aviso{ color: #9F6000; background-color: #FEEFB3; border:2px #9F6000 solid; }
.sucesso{ border:2px #C6D880 solid; background-color:#E6EFC2; color:#264409; }
.falha{ border:2px #D8000C solid; color:#D8000C; background-color:#FFBABA; }

.offscreen{
	display:block;
	text-indent:-999999999px;
}

.align-right{
	text-align:right;
}

.absolute(@x:0, @y:0){
	position:absolute;
	left:@x;
	top:@y;
}

input[type="radio"]
input[type="checkbox"]{
	border:1px @azul_escuro solid;
	background-color:#fff;
	background-image:none;
}