@import 'vars.less';

body{
	.main{
		h1{
			.myriadCond(20px);
			color:@azul_escuro;
		}
		#parametros_busca{
			background-color:@verde_claro;
			margin:20px 0;
			padding:15px 18px;
			color:@azul_escuro;
			border:1px @azul_claro solid;
			font-size:0;
			h2{
				.verdana(12px, bold);
				&.tit{
					border-bottom:1px @azul_escuro solid;
					padding-bottom:5px;
				}
			}
			.coluna{
				.inline;
				padding-top:5px;
				h2{
					margin-bottom:3px;
				}
				input, select{
					.verdana(12px);
					color:@azul_escuro;
				}
				&.ordem{
					width:198px;
					label{
						margin:3px 0;
						display: block;
						.verdana(12px);
						input{
							vertical-align:top;
							margin:3px 3px 3px 0;
						}
					}
				}
				&.filtro{
					width:418px;
					.fakelabel,
					label{
						display: block;
						.verdana(12px);
						height:20px;
						line-height:20px;
						margin-bottom:3px;
						#datas,
						select{
							float:right;
							margin:0 30px 0 0;
						}
						select{
							width:290px;
						}
						#datas input{margin:0; width:133px;}
					}
				}
				&.idioma{
					width:190px;
					line-height:130%;
					margin-right:11px;
					.verdana(12px);
					a{
						text-decoration:underline;
						color:@azul_escuro;
						.transition(all, .3s, ease-in);
						&:active, &:visited{ color:@azul_escuro; }
						&:hover{
							color:#FFF;
						}
					}
				}
				&.botao{
					input[type="submit"]{
						margin:0;
						padding:0;
						border:0;
						text-align:center;
						color:#FFF;
						padding:36px 0;
						line-height:100%;
						width:125px;
						.transition;
						.myriadCond(18px, normal);
						background-color:@azul_escuro;
						&:hover{
							cursor:pointer;
							color:@azul_claro;
						}
					}
				}
			}
		}
		.whitebox{
			font-size:0;
			outline:1px @azul_claro solid;
			background-color:#FFF;
			padding:20px;
			h3{
				.verdana(10px);
				color:@azul_escuro;
			}
			.vids{
				a{
					.inline;
					height:84px;
					width:300px;
					margin:5px 20px 5px 0;
					.transition;
					&.ultimo{
						margin-right:0;
					}
					img{
						float:left;
						margin-right:10px;
						height:84px;
					}
					background-color:@azul_claro;
					text-decoration:none;
					color:#fff;
					.transition(all, .3s, ease-in);
					&:active, &:visited{ color:#fff; }
					&:hover{
						background-color:@verde_claro;
					}
					.texto{
						padding:10px;
						.titulo{.verdana(10px);}
						.palestrante{.verdana(10px,normal,italic);}
						.data{.verdana(10px,bold);}						
					}
				}				
			}
		}
	}
	.main-videos-detalhes{
		font-size:0;
		h1{
			.myriadCond(20px);
			color:@azul_escuro;
			margin-bottom:5px;
		}
		article{
			.inline;
			width:638px;
			margin-right:22px;
			a.voltar{
				border:1px @azul_claro solid;
				padding:0 5px;
				.verdana(12px, bold);
				color:@azul_escuro;
				background-color:@verde_claro;
				display:block;
				.transition;
				&:hover{

				}
			}
			#tema{
				background-color:@azul_escuro;
				color:#FFF;
				.verdana(12px);
				width:50%;
				height:20px;
				line-height:20px;
				margin-top:5px;
				padding-left:5px;
			}
			#embed{
				width:638px;
				height:357px;
				background-color:#CCC;
			}
			#data{
				height:20px;
				line-height:20px;
				border-bottom:1px @azul_claro solid;
				div{
					padding: 0 25px 0 10px;
					background-color:@azul_claro;
					color:#fff;
					.verdana(10px, bold);
					float:right;
					text-align:center;
				}
			}
			#texto{
				background:url('../_imgs/layout/seta-destaque-video-home.png') left top no-repeat;
				padding:5px 0 48px 48px;
				h1{
					.myriadCond(20px);
					color:@azul_escuro;
					line-height:100%;
					margin-bottom:5px;
				}
				h2{
					.myriadCond(16px);
					text-decoration:italic;
					color:@azul_escuro;
					line-height:100%;
					margin-bottom:10px;
				}	
				p{
					color:@azul_escuro;
					.verdana(10px);
					margin:8px 0;
					line-height:160%;
				}
			}
			#relacionamentos{
				background-color:@verde_claro;
				color:@azul_escuro;
				.myriadCond(20px, normal, italic);
				height: 38px;
				line-height: 38px;
				padding-left:5px;
			}
			.tipo-relacionamento{
				height:20px;
				line-height:20px;
				position: relative;
				margin:24px 0 10px 0;
				.titulo{
					position:absolute;
					height:20px;
					line-height:20px;
					.myriadCond(16px);
					width:110px;
					background-color:@azul_escuro;
					padding-left:10px;
					.arredondada(5px);
					color:@verde_claro;
					z-index: 9;
				}
				.linha{
					height:1px;
					background-color:@verde_claro;
					width:100%;
					position:absolute;
					top:9px;
					left:0;
					z-index: 1;
				}		
			}
			a.rel-link{
				display: block;
				margin-bottom:5px;
				.transition;
				border-bottom:1px @verde_claro solid;
				background:url('../_imgs/layout/seta_fundo_verde_direita.png') transparent right 92% no-repeat;
				.data{
					.verdana(12px);
					color:@azul_escuro;
					padding-left:10px;
				}
				.categoria{
					background-color:@azul_claro;
					color:@azul_escuro;
					padding:0 10px;
					.verdana(12px);
					display:inline-block;
				}
				.titulo{
					.verdana(16px);
					padding-left:10px;
					margin:3px 0;
					color:@azul_escuro;
				}
			}
		}
		aside{
			.inline;
			width:298px;
			background-color:#FFF;
			padding:10px;
			border:1px @azul_claro solid;
			.sidebar-titulo{
				.myriadCond(20px);
				color:@azul_escuro;
				margin:10px 0;
			}
			font-size:0;
			white-space:nowrap;
			overflow:hidden;
			#cycle-this{

			}
			ul{
				margin-right:10px;
				list-style:none;
				margin-bottom:10px;
				width:298px;
				.inline;
				li{
					margin-bottom:5px;
					height:80px;
					a{
						display:block;
						background-color:@azul_claro;
						color:#fff;
						height:80px;
						.transition;
						&:active, &:visited{color:#fff;}
						&:hover{
							background-color:@verde_claro;
						}
						img{
							height:80px;
							margin-right:5px;
							float:left;
						}
						.texto{
							white-space: normal;
							padding:5px;
							.titulo{
								.verdana(10px);
							}
							.palestrante{
								.verdana(10px, normal, italic);
							}
							.data{
								.verdana(10px, bold);
							}
						}
					}
				}
			}
			#botao-proxima{
				height:20px;
				a{
					.transition;
					.verdana(18px, bold);
					float:right;
					height:20px;
					line-height:17px;
					width:38px;
					text-align:center;
					.arredondada(5px);
					position:relative;
					z-index:1;
					background-color:@azul_claro;
					&:active, &:visited{ color:@azul_escuro;}
					&:hover{color:#fff;}
				}
			}
			.busca{
				.transition;
				background-color:@azul_escuro;
				text-align:center;
				height:20px;
				line-height:20px;
				color:#fff;
				.myriadCond(14px);
				margin-top:10px;
				display:block;
				.arredondada(5px);
				position:relative;
				z-index:1;
				&:hover{
					color:@azul_claro;
				}
			}
		}
	}
}
