@import 'vars.less';

body{
	.main-washington-index{
		font-size:0;
		h1{
			.myriadCond(20px);
			color:@azul_escuro;
			margin-bottom:20px;
		}		
		aside{
			.inline;
			width:500px;
			margin-right:30px;
			img{
				margin-bottom: 100px;
			}
			#titulo-categorias{
				background-color:@azul_claro;
				color:@azul_escuro;
				height:40px;
				line-height:40px;
				padding-left:20px;
				//width:450px;
				width:430px;
				margin-bottom:15px;
				.myriadCond(20px);
				.arredondada(0 0 999px 0);
				position:relative;
				z-index:1;
			}
			ul{
				width:450px;
				list-style:none;
				li{
					height:50px;
					line-height:50px;
					border-bottom:1px @azul_claro solid;
					a{
						.verdana(12px);
						background:url('../_imgs/layout/seta-azul.png') transparent left center no-repeat;
						padding-left:20px;
						display: block;
						.transition;
						text-decoration:none;
						background-color:transparent;
						color:@azul_claro;
						.tit{ color:@azul_escuro;}
						&:active, &:visited{
							color:@azul_claro;
							.tit{ color:@azul_escuro;}
						}
						&:hover{
							background:url('../_imgs/layout/seta-azul.png') #FFF left center no-repeat;
						}
					}
				}
			}
		}
		article{
			.inline;
			width:450px;
			#titulo-washington{
				background-color:@azul_claro;
				color:@azul_escuro;
				.myriadCond(28px);
				.arredondada(0 0 40px 0);
				position:relative;
				z-index:1;
				line-height:110%;
				padding:10px 0 10px 10px;
				margin-bottom:20px;
			}
			p{
				.verdana(12px);
				line-height:160%;
				color:@azul_escuro;
				margin: 10px 0;
				a{
					text-decoration:underline;
					color:@azul_escuro;
					.transition;
					&:active, &:visited{ color:@azul_escuro; }
					&:hover{
						color:@azul_claro;
					}
				}
			}
			#embed{
				padding:10px 0;
			}
		}	
	}		
	.main-washington-categoria{
		font-size:0;
		h1{
			.myriadCond(20px);
			color:@azul_escuro;
		}
		article{
			.inline;
			width:638px;
			margin-right:22px;
			#filtro-noticias{
				margin:20px 0;
				height:30px;
				#sel-categoria{
					margin:0;
					border:0;
					padding:4px 4px 4px 20px;
					width:313px;
					margin-right:10px;
					.inline;
					.myriadCond(14px);
					.arredondada(5px);
					position:relative;
					z-index:1;
					background:none;
					background-color:@azul_claro;
					color:#FFF;
					height:30px;
				}
				form{
					.inline;
					height:30px;
					background-color:@azul_claro;
					.arredondada(5px);
					position:relative;
					z-index:1;
					width:305px;
					padding:0 5px;
					input::-webkit-input-placeholder {
					    color:#FFF;
					}
					input:-moz-placeholder {
					    color:#FFF;
					}
					input:-ms-input-placeholder {
					    color:#FFF;
					}
					input[type="text"]{
						.inline;
						margin:0;
						border:0;
						padding:5px;
						height:20px;
						line-height:20px;
						color:#fff;
						width:275px;
						.myriadCond(14px);
						background-color:@azul_claro;
					}
					input[type="submit"]{
						.inline;
						border:0;
						padding:0;
						.arredondada(5px);
						position:relative;
						z-index:1;
						width:20px;
						height:20px;
						line-height:20px;
						margin:5px 0;
						color:#FFF;
						//background:url('../_imgs/layout/pesquisa-setas.png') @verde_escuro center center no-repeat;
						background-color:@verde_escuro;
						.myriad(20px);
						&:hover{
							cursor:pointer;
						}
					}					
				}
			}
			.lista-titulo{
				.myriadCond(20px);
				color:@azul_escuro;
				padding:10px 0;
				border-bottom:1px @verde_claro solid;
				.resultado{
					.inline;
					background-color:@azul_escuro;
					color:#fff;
					.myriadCond(18px);
					padding:2px 5px;
					vertical-align:middle;
					text-transform:uppercase;
				}
			}
			#paginacao{
				padding:20px 0;
			}
			ul{
				list-style:none;
				li{
					a{
						display: block;
						padding:13px 0;
						border-bottom:1px @verde_claro solid;
						text-decoration:none;
						color:@azul_escuro;
						min-height:100px;
						background-color:transparent;
						.transition;
						img{
							float:left;
							height:100px;
							border:1px @verde_claro solid;
							margin-right:5px;
						}
						.data{
							.verdana(10px);
							margin-bottom:10px;
						}
						.titulo{
							.verdana(14px, bold);
						}
						.olho{
							.verdana(12px);
						}
						&:active, &:visited{ color:@azul_escuro; }
						&:hover{
							background-color:@verde_claro;
						}
					}					
				}
			}
		}
		aside{
			.inline;
			width:298px;
			background-color:#FFF;
			padding:10px;
			border:1px @azul_claro solid;
			.sidebar-titulo{
				.myriadCond(20px);
				color:@azul_escuro;
				margin:10px 0;
			}
			font-size:0;
			white-space:nowrap;
			overflow:hidden;
			#cycle-this{

			}
			ul{
				margin-right:10px;
				list-style:none;
				margin-bottom:10px;
				width:298px;
				.inline;
				li{
					margin-bottom:5px;
					height:80px;
					a{
						display:block;
						background-color:@azul_claro;
						color:#fff;
						height:80px;
						&:active, &:visited{color:#fff;}
						.transition;
						&:hover{ background-color:@verde_claro; }
						img{
							height:80px;
							margin-right:5px;
							float:left;
						}
						.texto{
							white-space: normal;
							padding:5px;
							.titulo{
								.verdana(10px);
							}
							.palestrante{
								.verdana(10px, normal, italic);
							}
							.data{
								.verdana(10px, bold);
							}
						}
					}
				}
			}
			#botao-proxima{
				height:20px;
				a{
					.transition;
					.verdana(18px, bold);
					float:right;
					height:20px;
					line-height:17px;
					width:38px;
					text-align:center;
					.arredondada(5px);
					position:relative;
					z-index:1;
					background-color:@azul_claro;
					&:active, &:visited{ color:@azul_escuro;}
					&:hover{color:#fff;}
				}
			}
			.busca{
				.transition;
				background-color:@azul_escuro;
				text-align:center;
				height:20px;
				line-height:20px;
				color:#fff;
				.myriadCond(14px);
				margin-top:10px;
				display:block;
				.arredondada(5px);
				position:relative;
				z-index:1;
				&:hover{
					color:@azul_claro;
				}
			}
		}
	}
	.main-washington-detalhes{
		font-size:0;
		h1{
			.myriadCond(20px);
			color:@azul_escuro;
		}
		article{
			.inline;
			width:638px;
			margin-right:22px;
			#filtro-noticias{
				margin:20px 0;
				height:30px;
				#sel-categoria{
					margin:0;
					border:0;
					padding:4px 4px 4px 20px;
					width:313px;
					margin-right:10px;
					.inline;
					.myriadCond(14px);
					.arredondada(5px);
					position:relative;
					z-index:1;
					background:none;
					background-color:@azul_claro;
					color:#FFF;
					height:30px;
				}
				form{
					.inline;
					height:30px;
					background-color:@azul_claro;
					.arredondada(5px);
					position:relative;
					z-index:1;
					width:305px;
					padding:0 5px;
					input::-webkit-input-placeholder {
					    color:#FFF;
					}
					input:-moz-placeholder {
					    color:#FFF;
					}
					input:-ms-input-placeholder {
					    color:#FFF;
					}
					input[type="text"]{
						.inline;
						margin:0;
						border:0;
						padding:5px;
						height:20px;
						line-height:20px;
						color:#fff;
						width:275px;
						.myriadCond(14px);
						background-color:@azul_claro;
					}
					input[type="submit"]{
						.inline;
						border:0;
						padding:0;
						.arredondada(5px);
						position:relative;
						z-index:1;
						width:20px;
						height:20px;
						line-height:20px;
						margin:5px 0;
						color:#FFF;
						//background:url('../_imgs/layout/pesquisa-setas.png') @verde_escuro center center no-repeat;
						background-color:@verde_escuro;
						.myriad(20px);
						&:hover{
							cursor:pointer;
						}
					}					
				}
			}
			.lista-titulo{
				.myriadCond(20px);
				color:@azul_escuro;
				padding:10px 0;
				border-bottom:1px @verde_claro solid;
				.resultado{
					.inline;
					background-color:@azul_escuro;
					color:#fff;
					.myriadCond(18px);
					padding:2px 5px;
					vertical-align:middle;
					text-transform:uppercase;
				}
			}
			#paginacao{
				padding:20px 0;
			}
			ul{
				list-style:none;
				li{
					a{
						display: block;
						padding:13px 0;
						border-bottom:1px @verde_claro solid;
						text-decoration:none;
						color:@azul_escuro;
						min-height:100px;
						background-color:transparent;
						.transition;
						&:hover{
							background-color:@verde_claro;
						}
						img{
							float:left;
							height:100px;
							border:1px @verde_claro solid;
							margin-right:5px;
						}
						.data{
							.verdana(10px);
							margin-bottom:10px;
						}
						.titulo{
							.verdana(14px, bold);
						}
						.olho{
							.verdana(12px);
						}
						&:active, &:visited{ color:@azul_escuro; }
						&:hover{
							background-color:@verde_claro;
						}
					}					
				}
			}
		}
		aside{
			.inline;
			width:298px;
			background-color:#FFF;
			padding:10px;
			border:1px @azul_claro solid;
			.sidebar-titulo{
				.myriadCond(20px);
				color:@azul_escuro;
				margin:10px 0;
			}
			font-size:0;
			white-space:nowrap;
			overflow:hidden;
			#cycle-this{

			}
			ul{
				margin-right:10px;
				list-style:none;
				margin-bottom:10px;
				width:298px;
				.inline;
				li{
					margin-bottom:5px;
					height:80px;
					a{
						display:block;
						background-color:@azul_claro;
						color:#fff;
						height:80px;
						&:active, &:visited{color:#fff;}
						.transition;
						&:hover{ background-color:@verde_claro; }
						img{
							height:80px;
							margin-right:5px;
							float:left;
						}
						.texto{
							white-space: normal;
							padding:5px;
							.titulo{
								.verdana(10px);
							}
							.palestrante{
								.verdana(10px, normal, italic);
							}
							.data{
								.verdana(10px, bold);
								border:0;
							}
						}
					}
				}
			}
			#botao-proxima{
				height:20px;
				a{
					.transition;
					.verdana(18px, bold);
					float:right;
					height:20px;
					line-height:17px;
					width:38px;
					text-align:center;
					.arredondada(5px);
					position:relative;
					z-index:1;
					background-color:@azul_claro;
					&:active, &:visited{ color:@azul_escuro;}
					&:hover{color:#fff;}
				}
			}
			.busca{
				.transition;
				background-color:@azul_escuro;
				text-align:center;
				height:20px;
				line-height:20px;
				color:#fff;
				.myriadCond(14px);
				margin-top:10px;
				display:block;
				.arredondada(5px);
				position:relative;
				z-index:1;
				&:hover{
					color:@azul_claro;
				}
			}
		}		
		a.voltar{
			border:1px @azul_claro solid;
			padding:0 5px;
			margin:10px 0;
			.verdana(12px, bold);
			color:@azul_escuro;
			background-color:@verde_claro;
			display:block;
			.transition;
			&:hover{color:#fff;}
		}
		.data{
			height:20px;
			border-bottom:1px @azul_claro solid;
			div{
				height:20px;
				line-height:20px;
				padding:0 25px 0 10px;
				float:right;
				background-color:@azul_claro;
				color:#fff;
				.verdana(10px, bold);
			}	
		}
		.texto-detalhe{
			background:url('../_imgs/layout/degrade-branco.png') transparent left top repeat-x;
			.autor{
				background:url('../_imgs/layout/seta-destaque-video-home.png') left top no-repeat;
				min-height:40px;
				line-height:40px;
				.myriadCond(16px, normal, italic);
				color:@azul_escuro;
				padding-left:55px;
			}
			h1{
				margin-top:30px;
				margin-bottom:10px;
				.myriadCond(24px);
				color:@azul_escuro;
			}
			.olho{
				padding:10px 0;
				border-top:1px @verde_claro solid;
				border-bottom:1px @verde_claro solid;
				margin-bottom:18px;
				.verdana(12px, normal, italic);
				color:@azul_escuro;
				line-height:130%;
			}
			.capa{
				float:left;
				margin:0 8px 8px 0;
				border:1px @verde_claro solid;
				max-width:300px;
			}
			p{
				.verdana(12px);
				color:@azul_escuro;
				margin:10px 0;
				line-height:160%;
			}
			.galeria{
				border-top:1px @azul_claro solid;
				padding:10px 0;
				margin:10px 0;
				font-size:0;
				a{
					.inline;
					width:200px;
					border:1px @verde_claro solid;
					margin-right:16px;
					margin-bottom:16px;
					&.ultima{ margin-right:0;}
					img{
						width:200px;
					}
				}
			}
		}
		#navegacao{
			padding:15px 0;
			border-top:1px @azul_claro solid;
			border-bottom:1px @azul_claro solid;
			margin:10px 0;
			.voltar{
				width:300px;
				.inline;
				margin-right:15px;
			}
			.nav{
				border:1px @azul_claro solid;
				padding:0 5px;
				.verdana(12px, bold);
				color:@azul_escuro;
				background-color:@verde_claro;
				.inline;
				margin:10px 0;
				width:140px;
				text-align:center;
				.transition;
				&.first{
					margin-right:7px;
				}
				.transition;
				&:hover{color:#fff;}			
			}
		}
		#filtro-noticias{
			margin-top:40px;
			font-size:0;
			span{
				color:@azul_escuro;
				.verdana(12px);
				display: block;
			}
		}
	}

}