@font-face {
    font-family: 'Yanone Light';
    src: url('yanonekaffeesatz-light-webfont.eot');
    src: url('yanonekaffeesatz-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('yanonekaffeesatz-light-webfont.woff') format('woff'),
         url('yanonekaffeesatz-light-webfont.ttf') format('truetype'),
         url('yanonekaffeesatz-light-webfont.svg#yanone_kaffeesatzlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yanone';
    src: url('yanonekaffeesatz-regular-webfont.eot');
    src: url('yanonekaffeesatz-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('yanonekaffeesatz-regular-webfont.woff') format('woff'),
         url('yanonekaffeesatz-regular-webfont.ttf') format('truetype'),
         url('yanonekaffeesatz-regular-webfont.svg#yanone_kaffeesatzregular') format('svg');
    font-weight: normal;
    font-style: normal;
}