@font-face {
    font-family: 'Myriad Web Pro Cond';
    src: url('myriadwebpro-condensed-webfont.eot');
    src: url('myriadwebpro-condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('myriadwebpro-condensed-webfont.woff') format('woff'),
         url('myriadwebpro-condensed-webfont.ttf') format('truetype'),
         url('myriadwebpro-condensed-webfont.svg#myriad_web_pro_condensedRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Web Pro Cond';
    src: url('myriadwebpro-condensedit-webfont.eot');
    src: url('myriadwebpro-condensedit-webfont.eot?#iefix') format('embedded-opentype'),
         url('myriadwebpro-condensedit-webfont.woff') format('woff'),
         url('myriadwebpro-condensedit-webfont.ttf') format('truetype'),
         url('myriadwebpro-condensedit-webfont.svg#myriad_web_pro_condensedIt') format('svg');
    font-weight: normal;
    font-style: italic;
}

/*@font-face {
    font-family: 'Myriad Web Pro';
    src: url('myriadwebpro-webfont.eot');
    src: url('myriadwebpro-webfont.eot?#iefix') format('embedded-opentype'),
         url('myriadwebpro-webfont.woff') format('woff'),
         url('myriadwebpro-webfont.ttf') format('truetype'),
         url('myriadwebpro-webfont.svg#myriad_web_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Web Pro';
    src: url('myriadwebpro-bold-webfont.eot');
    src: url('myriadwebpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('myriadwebpro-bold-webfont.woff') format('woff'),
         url('myriadwebpro-bold-webfont.ttf') format('truetype'),
         url('myriadwebpro-bold-webfont.svg#myriad_web_probold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Web Pro';
    src: url('myriadwebpro-italic-webfont.eot');
    src: url('myriadwebpro-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('myriadwebpro-italic-webfont.woff') format('woff'),
         url('myriadwebpro-italic-webfont.ttf') format('truetype'),
         url('myriadwebpro-italic-webfont.svg#myriad_web_proitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}*/