@import 'vars.less';

html{
	body{
		background:url('../_imgs/layout/infantil/bg_infantil.png') left top;
		header{
			#banner-topo{
				height:0;
				.transition(height, .6s, ease-in-out);
				background:url('../_imgs/layout/infantil/bg_infantil-topo.png');
				.centro{
					height:0;
					.transition(height, .6s, ease-in-out);
					background:url('../_imgs/layout/logo.png') center center no-repeat;
					a{
						width:220px;
						height:0;
						margin-left:0;
						margin-top:0;
						display:block;
						text-indent: -9999px;
					}
				}
				nav{
					position:fixed;
					z-index:9999999999;
				}
			}
			&.header-home{
				#banner-topo{
					height:170px;
					.centro{
						height:170px;
					}
					a{
						width:220px;
						height:130px;
						margin-left:380px;
						padding-top:20px;
						display:block;
						text-indent: -9999px;
					}
				}
				nav{
					position:relative;	
				}
			}
			nav{
				width:100%;
				padding-top:10px;
				height:50px;
				text-align:center;
				background:url('../_imgs/layout/infantil/infantil_menu.png') transparent left top repeat-x;
				ul{
					li{
						.inline;
						margin:0 16px;
						height:28px;
						a{
							height:28px;
							line-height:28px;
							padding:0 10px;
							display:block;
							color:@rosa;
							border-bottom:2px transparent solid;
							.arredondada(5px);
							.yanoneL(22px);
							.transition;
							&:active, &:visited{ color:@rosa; }
							&.ativo, &:hover{
								border-bottom:2px #6EBCAE solid;
								background-color:#fff;
							}
						}
					}
				}
			}
		}
		.main{
			position:relative;
			width:100%;
			.transition(all, .8s, ease-in-out);
			.centro{
				padding:25px 0 25px 0;
			}
			&.main-home{
				.centro{padding:45px 0 25px 0;}
				#banners{
					width:936px;
					display: block;
					margin:0 auto;
					background-color:#fff;
					padding:12px;
					position:relative;
					box-shadow: 0 0 8px #888888;
					-moz-box-shadow: 0 0 8px #888888;
					-webkit-box-shadow: 0 0 8px #888888;
					.arredondada(6px);
					#animate{
						width:936px;
						min-height:355px;
						img{
							max-width:936px;
							display: block;
							margin:0 auto;
						}
					}
					.btn-Nav{
						width:35px;
						height:35px;
						top:50%;
						position:absolute;
						z-index:99999;
						margin-top:-17px;
						.offscreen;
						.transition;
						&#btn-Prev{
							left:35px;
							background:url('../_imgs/layout/infantil/infantil_seta-esq_off.png') center center no-repeat;
							&:hover{
								.transform(scale(1.2));
								background:url('../_imgs/layout/infantil/infantil_seta-esq_on.png') center center no-repeat;
							}
						}
						&#btn-Next{
							right:35px;
							background:url('../_imgs/layout/infantil/infantil_seta-dir_off.png') center center no-repeat;
							&:hover{
								.transform(scale(1.2));
								background:url('../_imgs/layout/infantil/infantil_seta-dir_on.png') center center no-repeat;
							}
						}
					}
				}
			}
			&.main-perfil{
				.centro{
					height:650px;
					position:relative;
					.texto{
						position:absolute;
						.back{
							width:100%;
							height:100%;
							position:absolute;
							z-index:0;
							.arredondada(600px);
						}
						.fore{
							width:100%;
							height:100%;
							position:absolute;
							z-index:1;
						}
						&#texto-1{
							width:365px;
							height:365px;
							top:45px;
							left:8px;
							.back{
								background-color:rgb(173, 89, 138);
								opacity: 0.8;
								-moz-opacity: 0.8;
								filter:alpha(opacity=80);
							}
							.fore{
								color:#fff;
								h1{
									.yanoneL(35px);
									text-align:center;
									height:90px;
									line-height:105px;
									margin-bottom:10px;
									background:url('../_imgs/layout/infantil/infantil_div-empresa.png') center bottom no-repeat;
								}
								p{
									display:block;
									margin:0 auto;
									width:325px;
									line-height:160%;
									text-align:center;
									.verdana(12px);
								}
							}
						}
						&#texto-2{
							top:25;
							left:396px;
							width:242px;
							height:242px;
							.back{}
							.fore{
								.img{
									width:242px;
									height:242px;
									.arredondada(242px);
									border:121px rgba(116, 209, 200, .1) solid;
									.transition(all, .6s, ease-in-out);
									display: block;
									margin:0 auto;
									-webkit-box-sizing: border-box;
									-moz-box-sizing: border-box;
									box-sizing: border-box;									
								}
							}
							&.sobre{
								.fore{
									.img{
										border:10px rgba(116, 209, 200, 1) dotted;
									}
								}
							}
						}
						&#texto-3{
							top:375px;
							left:215px;
							width:292px;
							height:292px;
							.back{
								background-color:rgb(101, 54, 88);
								opacity: 0.8;
								-moz-opacity: 0.8;
								filter:alpha(opacity=80);
							}
							.fore{
								color:#fff;
								p{
									display:block;
									margin:40px auto 0 auto;
									width:260px;
									line-height:120%;
									text-align:center;
									.yanoneL(21px);
								}								
							}
						}
						&#texto-4{
							top:185px;
							left:545px;
							width:420px;
							height:420px;
							.back{
								background-color:rgb(179, 230, 225);
								opacity: 0.8;
								-moz-opacity: 0.8;
								filter:alpha(opacity=80);
							}
							.fore{
								color:@rosa;
								h1{
									.yanoneL(35px);
									text-align:center;
									height:90px;
									line-height:105px;
									margin-bottom:10px;
									background:url('../_imgs/layout/infantil/infantil_div-fabiana.png') center bottom no-repeat;
								}
								p{
									display:block;
									margin:0 auto;
									width:325px;
									line-height:160%;
									text-align:center;
									.verdana(12px);
								}
							}
						}
					}
				}
			}
			&.main-projetos{
				font-size:0;
				#lateral{
					.inline;
					width:185px;
					padding:0 15px;
					margin-right:45px;
					ul{
						background-color:#A54B7F;
						.arredondada(6px);
						padding:13px 0;
						border-bottom:5px #90316B solid;
						li{
							margin-left:-15px;
							width:217px;
							height:43px;
							line-height:43px;
							a{
								display: block;
								width:217px;
								height:43px;
								line-height:43px;
								color:#FFF;
								text-align:center;
								background:url('../_imgs/layout/infantil/infantil_projetos-transparencia.png') center center no-repeat;
								.yanoneL(22px);
								.transition;
								&:active, &:visited{color:#FFF;}
								&.ativo, &:hover{
									background:url('../_imgs/layout/infantil/infantil_projetos-selecionado.png') center center no-repeat;
									color:@rosa;
								}
							}
						}
					}
					#thumbs{
						width:185px;
						height:320px;
						font-size:0;
						margin:7px auto 0 auto;
						#imagens{
							width:185px;
							height:285px;
							a{
								.inline;
								width:88px;
								height:88px;
								text-decoration:none;
								margin-bottom:5px;
								.arredondada(5px);
								.transition(all, .6s, ease-in-out);
								&:hover, &.ativo{
									img{
										border:4px #77D2CB solid;
									}
								}
								img{
									.transition;
									.arredondada(5px);
									border:4px #D3EDEA solid;
								}
								&.marg{ margin-right:7px; }
							}
						}
						#navegacao{
							height:35px;
							a{
								background-color:#9bdcd6;
								height:30px;
								display:none;
								line-height:25px;
								.yanone(22px);
								width:40px;
								text-align: center;
								text-decoration:none;
								color:@rosa;
								border-bottom:2px #74cfca solid;
								.arredondada(4px);
								.transition;
								&:active, &:visited{color:@rosa; }
								&:hover{
									background-color:#a54b7f;
									color:#fff;
									border-bottom:2px #90316b solid;
								}
								&#nav-Prev{
									float:left;
								}
								&#nav-Next{
									float:right;
								}
							}
						}
					}
				}
				#ampliada{
					.inline;
					width:720px;
					img{
						position:absolute;
						.transition(all, .6s, ease-in-out);
						opacity:0;
						max-height:630px;
						max-width:700px;
						display: block;
						margin:0 auto;
						border:10px #FFF solid;
						.arredondada(6px);
						box-shadow: 0 0 8px #888888;
						-moz-box-shadow: 0 0 8px #888888;
						-webkit-box-shadow: 0 0 8px #888888;
					}
				}
			}
			&.main-midia{
				#midia-container{
					height:585px;
					#animate{
						height:555px;
						.pagina-midia{
							height:555px;
							width:980px;
							font-size:0;
							a{
								.inline;
								.transition;
								margin:0 20px 20px 0;
								width:167px;
								padding:4px 2px;
								.arredondada(6px);
								background-color:#cfece8;
								&:hover{
									background-color:#74d1c7;
								}
								img{
									.arredondada(6px);
									max-width:163px;
									margin:0 auto;
									display:block;
									margin-bottom:5px;
								}
								h2{
									.verdana(12px, bold);
									color:@rosa;
									display:block;
									text-align:center;
									line-height:110%;
								}
								.data{
									.verdana(12px);
									color:@rosa;
									display:block;
									text-align:center;
									line-height:130%;
								}
								&.nomargin{ margin-right:0;}
							}
						}
					}
					#navegacao{
						height:35px;
						display:none;
						a{
							background-color:#9dded8;
							border-bottom:2px #78d4c7 solid;
							height:30px;
							.arredondada(6px);
							line-height:25px;
							.yanone(22px);
							width:40px;
							text-align: center;
							text-decoration:none;
							color:@rosa;
							.transition;
							&:active, &:visited{color:@vinho; }
							&:hover{
								background-color:#a54b7f;
								border-bottom:2px #90316b solid;
								color:#FFF;
							}
							&#nav-Prev{
								float:left;
							}
							&#nav-Next{
								float:right;
								margin-right:45px;
							}
						}
					}
				}
			}
			&.main-contato{
				#contato{
					width:800px;
					margin:0 auto;
					padding:20px 0;
					.resposta{
						color:@rosa;
						.yanone(30px);
						text-align:center;
						line-height:150%;
						display:none;
					}
					#form{
						font-size:0;
						height:202px;
						.coluna{
							.inline;
							width:400px;
							padding:4px 0;
							input[type="text"],
							input[type="email"]{							
								.verdana(13px);
								color:@rosa;
								border:0;
								margin:0 0 5px 0;
								padding:10px;
								background-color:rgba(240, 250, 251, .7);
								width:365px;
								.arredondada(3px);
							}
							textarea{
								.verdana(13px);
								color:@rosa;
								border:0;
								margin:0 0 5px 0;
								padding:10px;
								background-color:rgba(240, 250, 251, .7);
								width:380px;
								resize:none;
								height:135px;	
								.arredondada(3px);
							}
						}
						.large{
							height:33px;
							input[type="submit"]{
								float:right;
								background-color:#9dded8;
								height:30px;
								line-height:25px;
								border:0;
								border-bottom:2px #78d4c7 solid;
								width:90px;
								.yanoneL(22px);
								color:@vinho;
								.arredondada(6px);
								text-align:center;
								.transition;
								&:hover{
									cursor:pointer;
									background-color:#a54b7f;
									border-bottom:2px #90316b solid;
									color:#fff;
								}
							}
						}
					}
					#telefone{
						.californian(34px);
						color:@rosa;
					}
					#email{
						a{
							.californian(25px);
							color:@rosa;
							.transition;
							&:active, &:visited{color:@rosa;}
							&:hover{
								color:#42A599;
							}
						}
					}
					#facebook{
						padding:15px 0;
						a{
							display:block;
							.transition;
							height:55px;
							background:url('../_imgs/layout/infantil/infantil_facebook.png') #9bdcd6 10px center no-repeat;
							line-height:55px;
							border-bottom:2px #78d4c7 solid;
							width:227px;
							padding:0 10px 0 53px;
							.yanone(21px);
							color:@rosa;
							.arredondada(6px);
							&:hover{
								background:url('../_imgs/layout/infantil/infantil_facebook.png') #a54b7f 10px center no-repeat;
								border-bottom:2px #90316b solid;
								color:#fff;
							}
						}
					}
				}
				.centro{
					position:relative;
					#imagem-footer{
						position:absolute;
						opacity:0;
						opacity:0;
						bottom:0;
						right:100px;
						display:block;
						width:394px;
						height:205px;
						background:url('../_imgs/layout/logo-footer.png') center center no-repeat;
					}
				}
			}			
		}
		footer{
			position:fixed;
			width:100%;
			bottom:0;
			left:0;
			height:42px;
			line-height:42px;
			background-color:@rosa;
			.transition;
			.centro{
				.verdana(10px);
				color:#fff;
				.f-left{
					float:left;
					height:42px;
					line-height:42px;
				}
				.f-right{
					float:right;
					height:42px;
					line-height:42px;
					background:url('../_imgs/layout/trupe.png') right 12px no-repeat;
					a{
						.transition;
						padding-right:30px;	
						border-bottom:1px transparent dotted;
						color:#fff;
						&:active, &:visited{ color:#fff; }
						&:hover{
							border-bottom:1px #fff dotted;
						}
					}
				}
			}
		}
	}
}