@import 'vars.less';

@cor_fundo:#4A061B;
@cor_faixa:#45081A;
@azul_claro:#7FD1CF;
@bege:#E7DAB8;

html{
	height:100%;
	body{
		height:100%;
		width:100%;
		background:url('../_imgs/layout/bg_home.png');
		#links{
			font-size:0;
			height:100%;
			display: block;
			width:100%;
			position:relative;
			.link{
				width:50%;
				height:100%;
				position:absolute;
				top:0;
				z-index:1;
				&.infantil{
					left:0;
					background:url('../_imgs/landing/home_infantil.png') right center no-repeat;
				}
				&.adulto{
					right:0;
					background:url('../_imgs/landing/home_adulto.png') left center no-repeat;
				}
			}
			#logo{
				background:url('../_imgs/landing/home_logo.png') center center no-repeat;
				width:100%;
				height:100%;
				position:absolute;
				top:0;
				left:0;
				z-index:2;
			}
			.faixa-escura{
				width:48%;
				height:154px;
				position:absolute;
				background-color:@cor_faixa;
				top:50%;
				z-index:0;
				margin-top:-77px;
				.transition(all, .6s, ease-in);
				&.infantil{ left:0; }
				&.adulto{ right:0; }
			}
			.seta{
				height:155px;
				position:absolute;
				top:50%;
				margin-top:-77px;
				z-index:1;
				.transition(all, .6s, ease-in);
				width:30px;
				&.infantil{
					right:0;
					margin-right:255px;
					background:url('../_imgs/landing/home_seta-esq.png') center center no-repeat;
				}
				&.adulto{
					left:0;
					margin-left:255px;
					background:url('../_imgs/landing/home_seta-dir.png') center center no-repeat;
				}
			}
			a#adu{
				.yanoneL(24px);
				padding-top:53px;
				line-height:115%;
				position:absolute;
				height:102px;
				margin-top:-77px;
				width:48%;
				top:50%;
				right:0;
				z-index:3;
				text-decoration:none;
				color:@bege;
				text-align:center;
				.transition(all, .6s, ease-in);
				&:active, &:visited{ color:@bege; }
				&:hover{
					color:@cor_faixa;
				}
				&:hover ~ .faixa-escura.adulto{
					background-color:@bege;
				}
				&:hover .seta.adulto{
					background:url('../_imgs/landing/home_seta-dir-hover.png') center center no-repeat;
				}
			}
			a#inf{
				.yanoneL(24px);
				padding-top:53px;
				line-height:115%;
				position:absolute;
				height:102px;
				margin-top:-77px;
				width:48%;
				left:0;
				top:50%;
				z-index:3;
				text-decoration:none;
				color:@azul_claro;
				text-align:center;
				.transition(all, .6s, ease-in);
				&:active, &:visited{ color:@azul_claro; }
				&:hover{
					color:@cor_faixa;
				}
				&:hover ~ .faixa-escura.infantil{
					background-color:@azul_claro;
				}
				&:hover .seta.infantil{
					background:url('../_imgs/landing/home_seta-esq-hover.png') center center no-repeat;
				}
			}
		}
	}
}