@largura:980px;
@cor_fundo:#4A061B;
@cor_faixa:#45081A;
@azul_claro:#7FD1CF;
@bege:#E7DAB8;
@rosa:#820F52;
@vinho:#510e15;
@marrom:#53413d;
@bege:#e4d5c2;

.centro{
	.centralizar;
}
.centralizar(@pad:0){
	width:@largura - (@pad * 2);
	padding:0 @pad;
	margin:0 auto;
}
.inline{
	display: inline-block;
	*display:inline;
	zoom:1;
	vertical-align:top;
}
.verdana(@fsize:12px, @fweight:normal){
	font-family:'Verdana','Arial',sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}
.yanoneL(@fsize:12px, @fweight:normal){
	font-family:'Yanone Light','Verdana','Arial',sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}
.yanone(@fsize:12px, @fweight:normal){
	font-family:'Yanone', 'Verdana','Arial',sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}
.californian(@fsize:12px, @fweight:normal){
	font-family:'Junge', 'Verdana','Arial',sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}

.arredondada(@raio:10px){
	-webkit-border-radius:@raio;
	-moz-border-radius:@raio;
	-o-border-radius:@raio;
	border-radius:@raio;
	behavior:url('PIE.htc');
}
.transition(@prop:all, @dur:.3s, @type:ease-in){
	-webkit-transition:@prop @dur @type;  
   -moz-transition:@prop @dur @type;  
   -o-transition:@prop @dur @type;  
   transition:@prop @dur @type;
}
.transform(@prop){
	transform: @prop;
	-ms-transform: @prop;
	-webkit-transform: @prop;
	-o-transform: @prop;
	-moz-transform: @prop;
}

.aviso{ color: #9F6000; background-color: #FEEFB3; border:2px #9F6000 solid; }
.sucesso{ border:2px #C6D880 solid; background-color:#E6EFC2; color:#264409; }
.falha{ border:2px #D8000C solid; color:#D8000C; background-color:#FFBABA; }

.offscreen{
	display:block;
	text-indent:-9999px;
}

.align-right{
	text-align:right;
}

.absolute(@x:0, @y:0){
	position:absolute;
	left:@x;
	top:@y;
}

h2.nao-encontrado{
	text-align:center;
	.yanone(75px, bold);
	color:@rosa;
	&.adulto{
		color:@bege;
	}
}